unpacked/AberturadeOSMicoLeo/Workflows/AuditoriaMensaldaMquina-CF4B6FEE-827B-EF11-AC20-6045BD38F029.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "lt_sharedcommondataserviceforapps_6bc80"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Quando_uma_linha_é_adicionada,_modificada_ou_excluída": {
          "metadata": {
            "operationMetadataId": "3103da1b-fecd-4d2f-93e0-5f29e5c0f12c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "crb76_auditoriamaquina",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condição": {
          "actions": {
            "Obter_uma_linha_por_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b7a62983-491f-4c33-97f8-6e09d0bc65a8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cre0a_maquinas",
                  "recordId": "@triggerOutputs()?['body/_lt_maquina_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Compor": {
              "runAfter": {
                "Obter_uma_linha_por_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "41fb39eb-1914-4224-b2fc-4305b78c9113"
              },
              "type": "Compose",
              "inputs": "@outputs('Obter_uma_linha_por_ID')?['body/cre0a_nomemaq']"
            },
            "Atualizar_uma_linha": {
              "runAfter": {
                "Compor": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7503c7ca-060c-4baf-b2a5-5c0233052ff8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cre0a_maquinas",
                  "recordId": "@outputs('Obter_uma_linha_por_ID')?['body/cre0a_maquinaid']",
                  "item/lt_auditoriadestemesjafoirealizada": true
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_lt_maquina_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "5615c9c7-8f6d-4f0e-923d-4a54833d2c04"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}