unpacked/AberturadeOSMicoLeo/Workflows/Blynk-DDCCD7FE-2F92-EF11-8A69-6045BD38F029.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "lt_sharedcommondataserviceforapps_6bc80"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "0591f12b-49d6-4c9c-b340-cfa8a40776f0"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "method": "POST",
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "be0256e1-70a3-4e74-b12c-2a905c71df1d"
          },
          "type": "Compose",
          "inputs": "@triggerBody()"
        },
        "Analisar_JSON": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "91176534-3021-4835-9a87-7e94d33c3a60"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@outputs('Compose')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "device": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "Aplicar_a_cada": {
          "foreach": "@body('Analisar_JSON')",
          "actions": {
            "ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "552a55bc-67d5-4cc9-9674-8abc8b21ad78"
              },
              "type": "Compose",
              "inputs": "@items('Aplicar_a_cada')['id']"
            },
            "IDVMLink": {
              "runAfter": {
                "ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "73f7f6e6-0876-4687-8d02-a79355014f50"
              },
              "type": "Compose",
              "inputs": "@items('Aplicar_a_cada')?['device']"
            },
            "TotalSemConverter": {
              "runAfter": {
                "IDVMLink": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8ee5e4df-de65-45d4-b27e-b02f06f84799"
              },
              "type": "Compose",
              "inputs": "@items('Aplicar_a_cada')?['amount']"
            },
            "Listando_Máquinas": {
              "runAfter": {
                "Total": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1e37105b-0ae0-4915-9790-e29af2594d42"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cre0a_maquinas"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Matriz_do_filtro_2": {
              "runAfter": {
                "Listando_Máquinas": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b23306a1-5dbd-431f-b1f1-ad82e3abb62a"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Listando_Máquinas')?['body/value']",
                "where": "@equals(item()?['lt_idequivalentevmlink'], outputs('IDVMLink'))"
              }
            },
            "Condição": {
              "actions": {
                "Analisar_JSON_3": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cac9a94f-0546-4f75-8ec5-af897eda2ae0"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Matriz_do_filtro_2')",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cre0a_maquinaid": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "cre0a_maquinaid"
                        ]
                      }
                    }
                  }
                },
                "Compor": {
                  "runAfter": {
                    "Analisar_JSON_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8466f8cb-037d-4f97-ba39-a578bdb0616f"
                  },
                  "type": "Compose",
                  "inputs": "@first(body('Analisar_JSON_3'))['cre0a_maquinaid']"
                },
                "Obtendo_Máquina": {
                  "runAfter": {
                    "Compor": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d1127236-dd88-41eb-a422-c9abf26da6e3"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cre0a_maquinas",
                      "recordId": "@outputs('Compor')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Máquina": {
                  "runAfter": {
                    "Obtendo_Máquina": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ef242b4a-45fd-4346-93d5-c6450af05782"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('Obtendo_Máquina')?['body/@odata.id']"
                },
                "Obtendo_Loja": {
                  "runAfter": {
                    "Máquina": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "45a6dd00-cd7c-4a8e-922f-30d83ab527c5"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cre0a_lojas",
                      "recordId": "@outputs('Obtendo_Máquina')?['body/_cre0a_loja_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Loja": {
                  "runAfter": {
                    "Obtendo_Loja": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5d4df6d7-ce42-413a-995c-c01dce3efa6c"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('Obtendo_Loja')?['body/@odata.id']"
                },
                "DataHora_Transação": {
                  "runAfter": {
                    "Obtendo_Produto_da_Máquina": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8e7a2269-f9d5-4528-920b-2daa86fe8d79"
                  },
                  "type": "Compose",
                  "inputs": "@formatDateTime(addHours(utcNow(), -3), 'yyyy-MM-ddTHH:mm:ssZ')"
                },
                "Obtendo_Produto_da_Máquina": {
                  "runAfter": {
                    "Loja": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "77da142b-fbd1-4204-ae71-df2950fc8a91"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "crb76_produtos",
                      "recordId": "@outputs('Obtendo_Máquina')?['body/_lt_produto_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Obtendo_Preço_do_Produto": {
                  "actions": {
                    "Listar_linhas_4": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "58018c73-9bd4-4f47-9afb-87c275891e6f"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "crb76_precos"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Matriz_do_filtro_6": {
                      "runAfter": {
                        "Listar_linhas_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "993beb2d-605c-4ef2-a8dd-103ad265dbd0"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@outputs('Listar_linhas_4')?['body/value']",
                        "where": "@and(\n  equals(item()?['_crb76_produto_value'], outputs('Obtendo_Produto_da_Máquina')?['body/crb76_produtoid']),\n  greaterOrEquals(outputs('DataHora_Transação'), item()?['crb76_datainicio']),\n  lessOrEquals(outputs('DataHora_Transação'), if(empty(item()?['lt_datafim']), utcNow(), item()?['lt_datafim'])),\n  equals(item()?['_lt_loja_value'], outputs('Obtendo_Loja')?['body/cre0a_lojaid']),\n  not(equals(item()?['crb76_preco'], 0))\n)"
                      }
                    },
                    "JSON_Preço": {
                      "runAfter": {
                        "Matriz_do_filtro_6": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b6f77e99-95de-4faf-9859-df37a8e425a0"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Matriz_do_filtro_6')",
                        "schema": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "crb76_preco": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "crb76_preco"
                            ]
                          }
                        }
                      }
                    },
                    "Preço_do_Produto": {
                      "runAfter": {
                        "JSON_Preço": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e5c787ac-6de8-408b-b313-f864ec089fb7"
                      },
                      "type": "Compose",
                      "inputs": "@coalesce(first(body('JSON_Preço'))?['crb76_preco'], 0)"
                    }
                  },
                  "runAfter": {
                    "DataHora_Transação": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f1dbd507-1b1f-4e1c-a8e3-03d974d08f87"
                  },
                  "type": "Scope"
                },
                "Listando_Vendas_Feitas": {
                  "runAfter": {
                    "Obtendo_Preço_do_Produto": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "18acc56d-d7f8-4f2d-b633-878a5663bb01"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "lt_registroparafechamentos"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Filter_array": {
                  "runAfter": {
                    "Listando_Vendas_Feitas": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6402d559-1335-4a10-954d-59e8ca288db8"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('Listando_Vendas_Feitas')?['body/value']",
                    "where": "@and(\n    equals(outputs('Obtendo_Máquina')?['body/cre0a_maquinaid'], item()?['_lt_maquina_value']),\n    equals(formatDateTime(item()?['lt_datahoratransacao'], 'MM'), formatDateTime(utcNow(), 'MM')),\n    equals(formatDateTime(item()?['lt_datahoratransacao'], 'yyyy'), formatDateTime(utcNow(), 'yyyy')),\n    equals(item()?['lt_criacaovendadevido'], 124400005))"
                  }
                },
                "Condition": {
                  "actions": {
                    "Parse_JSON": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "cedc8e9f-c622-442c-9aa9-fac7385baf5d"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Filter_array')",
                        "schema": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "lt_registroparafechamentoid": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "lt_registroparafechamentoid"
                            ]
                          }
                        }
                      }
                    },
                    "Apply_to_each": {
                      "foreach": "@body('Parse_JSON')",
                      "actions": {
                        "Get_a_row_by_ID": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "642b2dbd-df8d-4d85-b6e4-043c1a17f82b"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "lt_registroparafechamentos",
                              "recordId": "@items('Apply_to_each')['lt_registroparafechamentoid']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Compose_2": {
                          "runAfter": {
                            "Get_a_row_by_ID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "afbde844-703f-49d4-82a9-6dccf80a36e9"
                          },
                          "type": "Compose",
                          "inputs": "@outputs('Get_a_row_by_ID')?['body/lt_valor']"
                        },
                        "Increment_variable": {
                          "runAfter": {
                            "Compose_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "d8f709b2-9d17-4bdc-9561-e77db9c06262"
                          },
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "varTotal",
                            "value": "@outputs('Compose_2')"
                          }
                        }
                      },
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f33a7735-1c10-42d0-a95b-01514545585e"
                      },
                      "type": "Foreach"
                    },
                    "Incrementando_Variável": {
                      "runAfter": {
                        "Apply_to_each": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "15c0213c-8d33-4f9a-9465-d3b1f6a41177"
                      },
                      "type": "Compose",
                      "inputs": "@variables('varTotal')"
                    },
                    "ValorRealVenda": {
                      "runAfter": {
                        "Incrementando_Variável": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0b0f0458-b7d6-47e7-a82e-9103b2776864"
                      },
                      "type": "Compose",
                      "inputs": "@sub(outputs('Total'), outputs('Incrementando_Variável'))"
                    },
                    "Condition_4": {
                      "actions": {
                        "Scope_3": {
                          "actions": {
                            "Criando_Venda_Valor_Real": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "0f43d115-d9cf-47f8-bbc2-b65bb6d4be16"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "lt_registroparafechamentos",
                                  "item/lt_criacaovendadevido": 124400005,
                                  "item/crb76_dataentrada": "@outputs('DataHora_Transação')",
                                  "item/crb76_dataentregaouprevisao": "@outputs('DataHora_Transação')",
                                  "item/lt_datahoratransacao": "@outputs('DataHora_Transação')",
                                  "item/crb76_entregaprodutosefetuada": true,
                                  "item/lt_loja@odata.bind": "@outputs('Loja')",
                                  "item/lt_maquina@odata.bind": "@outputs('Máquina')",
                                  "item/crb76_modalidadetransporte": 452870001,
                                  "item/lt_outrosvaloresvendas": 0,
                                  "item/lt_tarifa": 0,
                                  "item/lt_taxa": 0,
                                  "item/lt_tipocartao": 124400002,
                                  "item/lt_tipodetransacao": 124400001,
                                  "item/lt_valor": "@outputs('ValorRealVenda')",
                                  "item/crb76_valorfrete": 0,
                                  "item/lt_valorrecebido": "@outputs('ValorRealVenda')",
                                  "item/lt_valortotalfinanciado": 0
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "AdicionandoCliente": {
                              "actions": {
                                "List_rows": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "93c80349-505c-4eee-b9fe-f91241d37690"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "ListRecords",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "crb76_clientes"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                },
                                "Filter_array_2": {
                                  "runAfter": {
                                    "List_rows": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "c085b719-600d-4b85-938d-0f40500e71e6"
                                  },
                                  "type": "Query",
                                  "inputs": {
                                    "from": "@outputs('List_rows')?['body/value']",
                                    "where": "@equals(item()?['lt_numerocliente'], 'CLIENTE-00001001')"
                                  }
                                },
                                "Parse_JSON_2": {
                                  "runAfter": {
                                    "Filter_array_2": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "11c35963-f7c1-4647-8f37-4a6ebc2053ee"
                                  },
                                  "type": "ParseJson",
                                  "inputs": {
                                    "content": "@body('Filter_array_2')",
                                    "schema": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "lt_nomecliente": {
                                            "type": "string"
                                          },
                                          "crb76_clienteid": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "lt_nomecliente",
                                          "crb76_clienteid"
                                        ]
                                      }
                                    }
                                  }
                                },
                                "Apply_to_each_2": {
                                  "foreach": "@body('Parse_JSON_2')",
                                  "actions": {
                                    "Get_a_row_by_ID_2": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "73349b68-1360-4301-aebf-6c75c30ce52a"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "GetItem",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "crb76_clientes",
                                          "recordId": "@items('Apply_to_each_2')['crb76_clienteid']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Update_a_row": {
                                      "runAfter": {
                                        "Get_a_row_by_ID_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "54a11acc-b866-42e5-b956-377a61fface5"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "UpdateRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "lt_registroparafechamentos",
                                          "recordId": "@outputs('Criando_Venda_Valor_Real')?['body/lt_registroparafechamentoid']",
                                          "item/lt_Cliente@odata.bind": "@outputs('Get_a_row_by_ID_2')?['body/@odata.id']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Parse_JSON_2": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "b30861bb-b4fd-48a4-b49b-0f5d5c6199e1"
                                  },
                                  "type": "Foreach"
                                }
                              },
                              "runAfter": {
                                "Criando_Venda_Valor_Real": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "127e2c47-68f9-4e95-8872-d30d96db69e9"
                              },
                              "type": "Scope"
                            },
                            "Adicionando_Meio_de_Pagamento": {
                              "actions": {
                                "List_rows_2": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "56edf768-636a-498c-b09e-e9ec28cd68b1"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "ListRecords",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "crb76_meiopagamentorecebimentos"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                },
                                "Filter_array_3": {
                                  "runAfter": {
                                    "List_rows_2": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "e91433b6-fe6d-43cc-a160-ea2f0f90a715"
                                  },
                                  "type": "Query",
                                  "inputs": {
                                    "from": "@outputs('List_rows_2')?['body/value']",
                                    "where": "@equals(item()?['crb76_nomemeiopagamentorecebimento'], '1x - Dinheiro')"
                                  }
                                },
                                "Parse_JSON_3": {
                                  "runAfter": {
                                    "Filter_array_3": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "2868392d-a65c-45c9-a4b0-5e9d5bb003ed"
                                  },
                                  "type": "ParseJson",
                                  "inputs": {
                                    "content": "@body('Filter_array_3')",
                                    "schema": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "crb76_meiopagamentorecebimentoid": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "crb76_meiopagamentorecebimentoid"
                                        ]
                                      }
                                    }
                                  }
                                },
                                "Apply_to_each_3": {
                                  "foreach": "@body('Parse_JSON_3')",
                                  "actions": {
                                    "Get_a_row_by_ID_3": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "71b0c732-d504-4b5e-8389-30ab36c35101"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "GetItem",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "crb76_meiopagamentorecebimentos",
                                          "recordId": "@items('Apply_to_each_3')['crb76_meiopagamentorecebimentoid']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Update_a_row_2": {
                                      "runAfter": {
                                        "Get_a_row_by_ID_3": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "2e6c2ff2-934a-4dec-b324-3fa9b4e2bb03"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "UpdateRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "lt_registroparafechamentos",
                                          "recordId": "@outputs('Criando_Venda_Valor_Real')?['body/lt_registroparafechamentoid']",
                                          "item/crb76_MeioRecebimento@odata.bind": "@outputs('Get_a_row_by_ID_3')?['body/@odata.id']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Parse_JSON_3": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "71f940f6-c96e-408f-950b-df07624edc32"
                                  },
                                  "type": "Foreach"
                                }
                              },
                              "runAfter": {
                                "AdicionandoCliente": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "41e0abf8-7e1f-4b77-ab04-51c1adc8206d"
                              },
                              "type": "Scope"
                            },
                            "AdicionandoMoeda": {
                              "actions": {
                                "List_rows_3": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "a03f561d-133a-4918-b48e-7e1579983423"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "ListRecords",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "crb76_moedases"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                },
                                "Filter_array_4": {
                                  "runAfter": {
                                    "List_rows_3": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "30600148-5cbb-43f4-9c72-086d42cd5b51"
                                  },
                                  "type": "Query",
                                  "inputs": {
                                    "from": "@outputs('List_rows_3')?['body/value']",
                                    "where": "@equals(item()?['crb76_nomedamoeda'], 'Real Brasileiro')"
                                  }
                                },
                                "Parse_JSON_4": {
                                  "runAfter": {
                                    "Filter_array_4": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "b96a3967-66d0-421a-b80c-e801e1da8ffe"
                                  },
                                  "type": "ParseJson",
                                  "inputs": {
                                    "content": "@body('Filter_array_4')",
                                    "schema": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "crb76_moedasid": {
                                            "type": "string"
                                          },
                                          "crb76_nomedamoeda": {
                                            "type": "string"
                                          },
                                          "crb76_simbolo": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "crb76_moedasid",
                                          "crb76_nomedamoeda",
                                          "crb76_simbolo"
                                        ]
                                      }
                                    }
                                  }
                                },
                                "Apply_to_each_4": {
                                  "foreach": "@body('Parse_JSON_4')",
                                  "actions": {
                                    "Get_a_row_by_ID_4": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "e51126c6-c16d-4a3c-b1c1-8fd44adf524a"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "GetItem",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "crb76_moedases",
                                          "recordId": "@items('Apply_to_each_4')['crb76_moedasid']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Update_a_row_3": {
                                      "runAfter": {
                                        "Get_a_row_by_ID_4": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "00b287a4-25f5-4655-87f4-66a79a85005f"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "UpdateRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "lt_registroparafechamentos",
                                          "recordId": "@outputs('Criando_Venda_Valor_Real')?['body/lt_registroparafechamentoid']",
                                          "item/lt_moedas@odata.bind": "@outputs('Get_a_row_by_ID_4')?['body/@odata.id']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Parse_JSON_4": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "b16075ff-8212-448d-adb2-4f53e96e2bc9"
                                  },
                                  "type": "Foreach"
                                }
                              },
                              "runAfter": {
                                "Adicionando_Meio_de_Pagamento": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "7f5afafc-76e1-4f6e-ac66-18c132828cc1"
                              },
                              "type": "Scope"
                            },
                            "AdicionandoUnidadeNegócios": {
                              "actions": {
                                "List_rows_4": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "83044e15-0e5a-4a2e-8717-35445210e5da"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "ListRecords",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "businessunits"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                },
                                "Filter_array_5": {
                                  "runAfter": {
                                    "List_rows_4": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "2cb50ae9-f3d8-4ac5-af4c-3c4cb067abbc"
                                  },
                                  "type": "Query",
                                  "inputs": {
                                    "from": "@outputs('List_rows_4')?['body/value']",
                                    "where": "@equals(item()?['_lt_lojarelacionada_value'], outputs('Obtendo_Loja')?['body/cre0a_lojaid'])"
                                  }
                                },
                                "Parse_JSON_5": {
                                  "runAfter": {
                                    "Filter_array_5": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "b28c5f04-0081-4a26-8ce9-179e1e5127c7"
                                  },
                                  "type": "ParseJson",
                                  "inputs": {
                                    "content": "@body('Filter_array_5')",
                                    "schema": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "businessunitid": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "businessunitid",
                                          "name"
                                        ]
                                      }
                                    }
                                  }
                                },
                                "Apply_to_each_5": {
                                  "foreach": "@body('Parse_JSON_5')",
                                  "actions": {
                                    "Get_a_row_by_ID_5": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "b27e3674-cec6-4679-b274-5d4521ff5405"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "GetItem",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "businessunits",
                                          "recordId": "@items('Apply_to_each_5')['businessunitid']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Update_a_row_4": {
                                      "runAfter": {
                                        "Get_a_row_by_ID_5": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "31998c4f-1b7c-4fca-befb-c5bc0464fab9"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "UpdateRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "lt_registroparafechamentos",
                                          "recordId": "@outputs('Criando_Venda_Valor_Real')?['body/lt_registroparafechamentoid']",
                                          "item/crb76_UnidadedeNegocioVendedora@odata.bind": "@outputs('Get_a_row_by_ID_5')?['body/@odata.id']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Parse_JSON_5": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "7edbb52c-50c0-413f-ae02-0591c622c3bd"
                                  },
                                  "type": "Foreach"
                                }
                              },
                              "runAfter": {
                                "AdicionandoMoeda": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "1eabdce0-2cf4-49a4-b8e1-2ccddb0387e4"
                              },
                              "type": "Scope"
                            },
                            "Obtendo_Venda_Atualizada2": {
                              "runAfter": {
                                "AdicionandoUnidadeNegócios": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "7865e0a9-3145-41f0-8b63-05a5785be686"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "lt_registroparafechamentos",
                                  "recordId": "@outputs('Criando_Venda_Valor_Real')?['body/lt_registroparafechamentoid']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "ObtendoMoedas": {
                              "runAfter": {
                                "Obtendo_Venda_Atualizada2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "3337f2fc-6963-43d7-b9d8-9af796e199c3"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "crb76_moedases",
                                  "recordId": "@outputs('Obtendo_Venda_Atualizada2')?['body/_lt_moedas_value']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Compose_3": {
                              "runAfter": {
                                "ObtendoMoedas": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "f918bafa-f346-4665-99f8-2b485a10a047"
                              },
                              "type": "Compose",
                              "inputs": "@if(equals(outputs('Preço_do_Produto'), 0), 0, div(outputs('Obtendo_Venda_Atualizada2')?['body/lt_valor'], outputs('Preço_do_Produto')))"
                            },
                            "Quantidade2": {
                              "runAfter": {
                                "Compose_3": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "5cab3dd3-f628-414e-916a-089e14e1143d"
                              },
                              "type": "Compose",
                              "inputs": "@if(equals(outputs('Preço_do_Produto'), 0), 0, first(split(string(div(outputs('Obtendo_Venda_Atualizada2')?['body/lt_valor'], outputs('Preço_do_Produto'))), '.')))"
                            },
                            "ValorTotalDaVenda2": {
                              "runAfter": {
                                "Quantidade2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "40a4683b-9e8b-4f23-8613-9abc70629481"
                              },
                              "type": "Compose",
                              "inputs": "@if(\r\n    equals(outputs('Preço_do_Produto'), 0), \r\n    outputs('Obtendo_Venda_Atualizada2')?['body/lt_valor'], \r\n    mul(outputs('Preço_do_Produto'), float(outputs('Quantidade2')))\r\n)"
                            },
                            "PreçoUnitárioMédio2": {
                              "runAfter": {
                                "ValorTotalDaVenda2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "6f87582f-6078-41f1-9119-1ad83edd8bae"
                              },
                              "type": "Compose",
                              "inputs": "@if(\r\n    equals(float(outputs('Quantidade2')), 0), \r\n    0, \r\n    div(outputs('Obtendo_Venda_Atualizada2')?['body/lt_valor'], float(outputs('Quantidade2')))\r\n)"
                            },
                            "ValorDoDescontoDaVenda2": {
                              "runAfter": {
                                "PreçoUnitárioMédio2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "2fd3b9f7-00bf-4d5d-ae7b-8ac76b093958"
                              },
                              "type": "Compose",
                              "inputs": "@sub(outputs('Obtendo_Venda_Atualizada2')?['body/lt_valor'], outputs('ValorTotalDaVenda2'))"
                            },
                            "Add_a_new_row": {
                              "runAfter": {
                                "ValorDoDescontoDaVenda2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "ae9c52dc-1cdb-48ed-ab76-d7ec69d7afd8"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "crb76_produtovendidos",
                                  "item/lt_criacaovendadevido1": 124400005,
                                  "item/crb76_Produto@odata.bind": "@outputs('Obtendo_Produto_da_Máquina')?['body/@odata.id']",
                                  "item/crb76_quantidade": "@outputs('Quantidade2')",
                                  "item/lt_vendaId@odata.bind": "@outputs('Obtendo_Venda_Atualizada2')?['body/@odata.id']",
                                  "item/lt_datahoratransacao": "@outputs('DataHora_Transação')",
                                  "item/lt_loja@odata.bind": "@outputs('Loja')",
                                  "item/lt_moedas@odata.bind": "@outputs('ObtendoMoedas')?['body/@odata.id']",
                                  "item/lt_precounitario": "@outputs('Preço_do_Produto')",
                                  "item/lt_precomedio": "@outputs('PreçoUnitárioMédio2')",
                                  "item/lt_valordesconto": 0,
                                  "item/lt_valortotalvendaprodutovendido": "@outputs('ValorTotalDaVenda2')",
                                  "item/lt_valorvenda": "@outputs('Obtendo_Venda_Atualizada2')?['body/lt_valor']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Update_a_row_5": {
                              "runAfter": {
                                "Add_a_new_row": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "674a5160-e7dd-4a7d-9998-7cf75ad0a3ab"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "lt_registroparafechamentos",
                                  "recordId": "@outputs('Obtendo_Venda_Atualizada2')?['body/lt_registroparafechamentoid']",
                                  "item/lt_valordescontoof": "@outputs('ValorDoDescontoDaVenda2')",
                                  "item/lt_valortotaldavenda": "@outputs('ValorTotalDaVenda2')"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "a90a6c54-52e6-4065-a8a2-4b66f865537b"
                          },
                          "type": "Scope"
                        }
                      },
                      "runAfter": {
                        "ValorRealVenda": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "greater": [
                          "@outputs('ValorRealVenda')",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4f66a9bd-4f08-477e-914d-016a29f36ad8"
                      },
                      "type": "If"
                    },
                    "Set_variable": {
                      "runAfter": {
                        "Parse_JSON": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f8ce2986-8132-4fe7-8b10-0d370f707ecc"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varTotal",
                        "value": 0
                      }
                    }
                  },
                  "runAfter": {
                    "Filter_array": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Filter_array_6": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "42666b2c-38cd-4ef2-9683-a755165aeb71"
                        },
                        "type": "Query",
                        "inputs": {
                          "from": "@outputs('Listando_Vendas_Feitas')?['body/value']",
                          "where": "@and(\n    equals(outputs('Obtendo_Loja')?['body/cre0a_lojaid'], item()?['_lt_loja_value']),\n    equals(outputs('Obtendo_Máquina')?['body/cre0a_maquinaid'], item()?['_lt_maquina_value']),\n    equals(formatDateTime(item()?['lt_datahoratransacao'], 'MM'), formatDateTime(utcNow(), 'MM')),\n    equals(formatDateTime(item()?['lt_datahoratransacao'], 'yyyy'), formatDateTime(utcNow(), 'yyyy')),\n    equals(item()?['lt_criacaovendadevido'], 124400005),\nnot(equals(item()?['lt_valor'], outputs('Total'))))\n"
                        }
                      },
                      "Condition_2": {
                        "actions": {
                          "Scope": {
                            "actions": {
                              "Criando_Venda": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "8cd68afa-ba13-4a7c-a003-5fce4c363721"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "CreateRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "lt_registroparafechamentos",
                                    "item/lt_criacaovendadevido": 124400005,
                                    "item/crb76_dataentrada": "@outputs('DataHora_Transação')",
                                    "item/crb76_dataentregaouprevisao": "@outputs('DataHora_Transação')",
                                    "item/lt_datahoratransacao": "@outputs('DataHora_Transação')",
                                    "item/crb76_entregaprodutosefetuada": true,
                                    "item/lt_loja@odata.bind": "@outputs('Loja')",
                                    "item/lt_maquina@odata.bind": "@outputs('Máquina')",
                                    "item/crb76_modalidadetransporte": 452870001,
                                    "item/lt_outrosvaloresvendas": 0,
                                    "item/lt_tarifa": 0,
                                    "item/lt_taxa": 0,
                                    "item/lt_tipocartao": 124400002,
                                    "item/lt_tipodetransacao": 124400001,
                                    "item/lt_valor": "@outputs('Total')",
                                    "item/crb76_valorfrete": 0,
                                    "item/lt_valorrecebido": "@outputs('Total')",
                                    "item/lt_valortotalfinanciado": 0
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Adicionando_Cliente": {
                                "actions": {
                                  "Listando_Cliente": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "6723ee54-38a3-48b7-9f0d-72c2f38f0e94"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "ListRecords",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "crb76_clientes"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Matriz_do_filtro": {
                                    "runAfter": {
                                      "Listando_Cliente": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "32f50cbb-d576-4303-82aa-01d28afc3203"
                                    },
                                    "type": "Query",
                                    "inputs": {
                                      "from": "@outputs('Listando_Cliente')?['body/value']",
                                      "where": "@equals(item()?['lt_numerocliente'], 'CLIENTE-00001001')"
                                    }
                                  },
                                  "Analisar_JSON_2": {
                                    "runAfter": {
                                      "Matriz_do_filtro": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "cd861967-6d68-47af-8328-2807d8bfc91e"
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                      "content": "@body('Matriz_do_filtro')",
                                      "schema": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "lt_nomecliente": {
                                              "type": "string"
                                            },
                                            "crb76_clienteid": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "lt_nomecliente",
                                            "crb76_clienteid"
                                          ]
                                        }
                                      }
                                    }
                                  },
                                  "Aplicar_a_cada_2": {
                                    "foreach": "@body('Analisar_JSON_2')",
                                    "actions": {
                                      "Obter_uma_linha_por_ID": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "4b50c61b-73c0-4ac4-85b4-38eb90acaabf"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "GetItem",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "crb76_clientes",
                                            "recordId": "@items('Aplicar_a_cada_2')['crb76_clienteid']"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Atualizar_uma_linha": {
                                        "runAfter": {
                                          "Obter_uma_linha_por_ID": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "7d881bd7-7b97-4ec0-b20b-e368fa03433a"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "UpdateRecord",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "lt_registroparafechamentos",
                                            "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']",
                                            "item/lt_Cliente@odata.bind": "@outputs('Obter_uma_linha_por_ID')?['body/@odata.id']"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Analisar_JSON_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "ab826f8a-d79a-4d93-9491-504a3c490c87"
                                    },
                                    "type": "Foreach"
                                  }
                                },
                                "runAfter": {
                                  "Criando_Venda": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "64ddecaf-302c-4eeb-9501-1e9b296bc1e0"
                                },
                                "type": "Scope"
                              },
                              "Adicionando_Meio_de_Pagamento_Recebimento": {
                                "actions": {
                                  "Listar_linhas": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "03a0fa4a-f9c4-4fa8-a981-14c353015976"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "ListRecords",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "crb76_meiopagamentorecebimentos"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Matriz_do_filtro_3": {
                                    "runAfter": {
                                      "Listar_linhas": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "7ec0ad72-71eb-4bac-9b62-db8c171f5b37"
                                    },
                                    "type": "Query",
                                    "inputs": {
                                      "from": "@outputs('Listar_linhas')?['body/value']",
                                      "where": "@equals(item()?['crb76_nomemeiopagamentorecebimento'], '1x - Dinheiro')"
                                    }
                                  },
                                  "Analisar_JSON_4": {
                                    "runAfter": {
                                      "Matriz_do_filtro_3": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "0bc56858-0bd4-4b99-9f54-491689ace7c9"
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                      "content": "@body('Matriz_do_filtro_3')",
                                      "schema": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "crb76_meiopagamentorecebimentoid": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "crb76_meiopagamentorecebimentoid"
                                          ]
                                        }
                                      }
                                    }
                                  },
                                  "Aplicar_a_cada_3": {
                                    "foreach": "@body('Analisar_JSON_4')",
                                    "actions": {
                                      "Obter_uma_linha_por_ID_2": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "2e649a71-217f-483d-9a40-851dac0abb9e"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "GetItem",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "crb76_meiopagamentorecebimentos",
                                            "recordId": "@items('Aplicar_a_cada_3')['crb76_meiopagamentorecebimentoid']"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Atualizar_uma_linha_2": {
                                        "runAfter": {
                                          "Obter_uma_linha_por_ID_2": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "f2b4f6ac-8a6e-48c6-b1f5-44a1b8188994"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "UpdateRecord",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "lt_registroparafechamentos",
                                            "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']",
                                            "item/crb76_MeioRecebimento@odata.bind": "@outputs('Obter_uma_linha_por_ID_2')?['body/@odata.id']"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Analisar_JSON_4": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "3ca9139c-6fe6-4240-a137-602a9d67f6c8"
                                    },
                                    "type": "Foreach"
                                  }
                                },
                                "runAfter": {
                                  "Adicionando_Cliente": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "1793886e-6a4b-4b9c-a522-be243fe2f7f3"
                                },
                                "type": "Scope"
                              },
                              "Adicionando_Moeda": {
                                "actions": {
                                  "Listar_linhas_2": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "07a4e0dd-8a0b-4e4c-b945-1b3381186668"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "ListRecords",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "crb76_moedases"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Matriz_do_filtro_4": {
                                    "runAfter": {
                                      "Listar_linhas_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "79c61c9a-0ae8-4928-8c4e-2ae232dbe47b"
                                    },
                                    "type": "Query",
                                    "inputs": {
                                      "from": "@outputs('Listar_linhas_2')?['body/value']",
                                      "where": "@equals(item()?['crb76_nomedamoeda'], 'Real Brasileiro')"
                                    }
                                  },
                                  "Analisar_JSON_5": {
                                    "runAfter": {
                                      "Matriz_do_filtro_4": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "0491aa74-3c84-429f-84bf-d4790c94448d"
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                      "content": "@body('Matriz_do_filtro_4')",
                                      "schema": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "crb76_moedasid": {
                                              "type": "string"
                                            },
                                            "crb76_nomedamoeda": {
                                              "type": "string"
                                            },
                                            "crb76_simbolo": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "crb76_moedasid",
                                            "crb76_nomedamoeda",
                                            "crb76_simbolo"
                                          ]
                                        }
                                      }
                                    }
                                  },
                                  "Aplicar_a_cada_4": {
                                    "foreach": "@body('Analisar_JSON_5')",
                                    "actions": {
                                      "Obter_uma_linha_por_ID_3": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "86a7666d-08ee-466f-aa4f-aaeada632af6"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "GetItem",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "crb76_moedases",
                                            "recordId": "@items('Aplicar_a_cada_4')['crb76_moedasid']"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Atualizar_uma_linha_3": {
                                        "runAfter": {
                                          "Obter_uma_linha_por_ID_3": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "6ea82ba0-9292-4811-98f8-ebcc101fc826"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "UpdateRecord",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "lt_registroparafechamentos",
                                            "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']",
                                            "item/lt_moedas@odata.bind": "@outputs('Obter_uma_linha_por_ID_3')?['body/@odata.id']"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Analisar_JSON_5": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "3088ac2c-972e-49cc-9b37-6e394142743d"
                                    },
                                    "type": "Foreach"
                                  }
                                },
                                "runAfter": {
                                  "Adicionando_Meio_de_Pagamento_Recebimento": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "466f7d4b-a91d-488f-800b-28eb7e3ca16d"
                                },
                                "type": "Scope"
                              },
                              "Adicionando_Unidade_de_Negócio": {
                                "actions": {
                                  "Listar_linhas_3": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "d4d0682b-e842-44d9-9f3f-e4d723f28f0c"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "ListRecords",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "businessunits"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Matriz_do_filtro_5": {
                                    "runAfter": {
                                      "Listar_linhas_3": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "717a90c0-0dce-4b37-8089-ddb6065b68c8"
                                    },
                                    "type": "Query",
                                    "inputs": {
                                      "from": "@outputs('Listar_linhas_3')?['body/value']",
                                      "where": "@equals(item()?['_lt_lojarelacionada_value'], outputs('Obtendo_Loja')?['body/cre0a_lojaid'])"
                                    }
                                  },
                                  "Analisar_JSON_6": {
                                    "runAfter": {
                                      "Matriz_do_filtro_5": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "e1e45084-4f04-4976-ba41-ef1c15d8f61d"
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                      "content": "@body('Matriz_do_filtro_5')",
                                      "schema": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "businessunitid": {
                                              "type": "string"
                                            },
                                            "name": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "businessunitid",
                                            "name"
                                          ]
                                        }
                                      }
                                    }
                                  },
                                  "Aplicar_a_cada_5": {
                                    "foreach": "@body('Analisar_JSON_6')",
                                    "actions": {
                                      "Obter_uma_linha_por_ID_4": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "63c031cc-6ce0-4a02-a331-d05459f49b28"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "GetItem",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "businessunits",
                                            "recordId": "@items('Aplicar_a_cada_5')['businessunitid']"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Atualizar_uma_linha_4": {
                                        "runAfter": {
                                          "Obter_uma_linha_por_ID_4": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "2abf0538-6555-428d-af9a-65897d810528"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "UpdateRecord",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "lt_registroparafechamentos",
                                            "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']",
                                            "item/crb76_UnidadedeNegocioVendedora@odata.bind": "@outputs('Obter_uma_linha_por_ID_4')?['body/@odata.id']"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Analisar_JSON_6": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "b330e8ca-24a3-4490-9fe5-05a2069c28aa"
                                    },
                                    "type": "Foreach"
                                  }
                                },
                                "runAfter": {
                                  "Adicionando_Moeda": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "a24adf4a-554a-4504-9e99-45e6a199ed7b"
                                },
                                "type": "Scope"
                              },
                              "Obtendo_Venda_Atualizada": {
                                "runAfter": {
                                  "Adicionando_Unidade_de_Negócio": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "a60149a2-b3db-4c6c-b2c7-d4ef2fc38e9b"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "GetItem",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "lt_registroparafechamentos",
                                    "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Obtendo_Moedas": {
                                "runAfter": {
                                  "Obtendo_Venda_Atualizada": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "f8f11c4c-0898-4473-8fab-49b39f0222b2"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "GetItem",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "crb76_moedases",
                                    "recordId": "@outputs('Obtendo_Venda_Atualizada')?['body/_lt_moedas_value']"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Quantidade": {
                                "runAfter": {
                                  "Obtendo_Moedas": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "a4c99f0d-022e-4987-8c89-371aa3434bd3"
                                },
                                "type": "Compose",
                                "inputs": "@if(equals(outputs('Preço_do_Produto'), 0), 0, first(split(string(div(outputs('Obtendo_Venda_Atualizada')?['body/lt_valor'], outputs('Preço_do_Produto'))), '.')))"
                              },
                              "ValorTotalDaVenda": {
                                "runAfter": {
                                  "Quantidade": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "cacb38bb-c535-452b-bc34-008da499ede9"
                                },
                                "type": "Compose",
                                "inputs": "@if(\r\n    equals(outputs('Preço_do_Produto'), 0), \r\n    outputs('Obtendo_Venda_Atualizada')?['body/lt_valor'], \r\n    mul(outputs('Preço_do_Produto'), float(outputs('Quantidade')))\r\n)"
                              },
                              "PreçoUnitárioMédio": {
                                "runAfter": {
                                  "ValorTotalDaVenda": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "c94cc177-ced1-4b00-9796-9a1a0bd64b40"
                                },
                                "type": "Compose",
                                "inputs": "@if(\r\n    equals(float(outputs('Quantidade')), 0), \r\n    0, \r\n    div(outputs('Obtendo_Venda_Atualizada')?['body/lt_valor'], float(outputs('Quantidade')))\r\n)"
                              },
                              "ValorDoDescontoDaVenda": {
                                "runAfter": {
                                  "PreçoUnitárioMédio": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "df052dab-a61d-433f-b9ad-82c7914bd811"
                                },
                                "type": "Compose",
                                "inputs": "@sub(outputs('Obtendo_Venda_Atualizada')?['body/lt_valor'], outputs('ValorTotalDaVenda'))"
                              },
                              "Adicionando_Produto_Vendido": {
                                "runAfter": {
                                  "ValorDoDescontoDaVenda": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "7c4ef9be-244a-401c-b509-87c97eef0c5c"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "CreateRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "crb76_produtovendidos",
                                    "item/lt_criacaovendadevido1": 124400005,
                                    "item/crb76_Produto@odata.bind": "@outputs('Obtendo_Produto_da_Máquina')?['body/@odata.id']",
                                    "item/crb76_quantidade": "@outputs('Quantidade')",
                                    "item/lt_vendaId@odata.bind": "@outputs('Obtendo_Venda_Atualizada')?['body/@odata.id']",
                                    "item/lt_datahoratransacao": "@outputs('DataHora_Transação')",
                                    "item/lt_loja@odata.bind": "@outputs('Loja')",
                                    "item/lt_moedas@odata.bind": "@outputs('Obtendo_Moedas')?['body/@odata.id']",
                                    "item/lt_precounitario": "@outputs('Preço_do_Produto')",
                                    "item/lt_precomedio": "@outputs('PreçoUnitárioMédio')",
                                    "item/lt_valordesconto": 0,
                                    "item/lt_valortotalvendaprodutovendido": "@outputs('ValorTotalDaVenda')",
                                    "item/lt_valorvenda": "@outputs('Obtendo_Venda_Atualizada')?['body/lt_valor']"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Atualizar_uma_linha_5": {
                                "runAfter": {
                                  "Adicionando_Produto_Vendido": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "cae957c0-080a-4130-8843-680805b93393"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "UpdateRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "lt_registroparafechamentos",
                                    "recordId": "@outputs('Obtendo_Venda_Atualizada')?['body/lt_registroparafechamentoid']",
                                    "item/lt_valordescontoof": "@outputs('ValorDoDescontoDaVenda')",
                                    "item/lt_valortotaldavenda": "@outputs('ValorTotalDaVenda')"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            },
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "e66d2d73-a5f3-44e4-82bb-bf0faf330961"
                            },
                            "type": "Scope"
                          }
                        },
                        "runAfter": {
                          "Filter_array_6": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {
                            "Filter_array_7": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "28750f8c-fa45-4955-b708-f6cdd91c9d3d"
                              },
                              "type": "Query",
                              "inputs": {
                                "from": "@outputs('Listando_Vendas_Feitas')?['body/value']",
                                "where": "@and(\n            equals(item()?['_lt_maquina_value'], outputs('Obtendo_Máquina')?['body/cre0a_maquinaid']),\n            equals(formatDateTime(item()?['lt_datahoratransacao'], 'MM'), formatDateTime(utcNow(), 'MM')),\n            equals(formatDateTime(item()?['lt_datahoratransacao'], 'yyyy'), formatDateTime(utcNow(), 'yyyy'))\n        )"
                              }
                            },
                            "Condition_3": {
                              "actions": {
                                "Scope_2": {
                                  "actions": {
                                    "Criando_Venda_2": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "8cd68afa-ba13-4a7c-a003-5fce4c363721"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "CreateRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "lt_registroparafechamentos",
                                          "item/lt_criacaovendadevido": 124400005,
                                          "item/crb76_dataentrada": "@outputs('DataHora_Transação')",
                                          "item/crb76_dataentregaouprevisao": "@outputs('DataHora_Transação')",
                                          "item/lt_datahoratransacao": "@outputs('DataHora_Transação')",
                                          "item/crb76_entregaprodutosefetuada": true,
                                          "item/lt_loja@odata.bind": "@outputs('Loja')",
                                          "item/lt_maquina@odata.bind": "@outputs('Máquina')",
                                          "item/crb76_modalidadetransporte": 452870001,
                                          "item/lt_outrosvaloresvendas": 0,
                                          "item/lt_tarifa": 0,
                                          "item/lt_taxa": 0,
                                          "item/lt_tipocartao": 124400002,
                                          "item/lt_tipodetransacao": 124400001,
                                          "item/lt_valor": "@outputs('Total')",
                                          "item/crb76_valorfrete": 0,
                                          "item/lt_valorrecebido": "@outputs('Total')",
                                          "item/lt_valortotalfinanciado": 0
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Adicionando_Cliente_2": {
                                      "actions": {
                                        "Listando_Cliente_2": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "6723ee54-38a3-48b7-9f0d-72c2f38f0e94"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps",
                                              "operationId": "ListRecords",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "crb76_clientes"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Matriz_do_filtro_7": {
                                          "runAfter": {
                                            "Listando_Cliente_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "32f50cbb-d576-4303-82aa-01d28afc3203"
                                          },
                                          "type": "Query",
                                          "inputs": {
                                            "from": "@outputs('Listando_Cliente_2')?['body/value']",
                                            "where": "@equals(item()?['lt_numerocliente'], 'CLIENTE-00001001')"
                                          }
                                        },
                                        "Analisar_JSON_7": {
                                          "runAfter": {
                                            "Matriz_do_filtro_7": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "cd861967-6d68-47af-8328-2807d8bfc91e"
                                          },
                                          "type": "ParseJson",
                                          "inputs": {
                                            "content": "@body('Matriz_do_filtro_7')",
                                            "schema": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "lt_nomecliente": {
                                                    "type": "string"
                                                  },
                                                  "crb76_clienteid": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "lt_nomecliente",
                                                  "crb76_clienteid"
                                                ]
                                              }
                                            }
                                          }
                                        },
                                        "Aplicar_a_cada_6": {
                                          "foreach": "@body('Analisar_JSON_7')",
                                          "actions": {
                                            "Obter_uma_linha_por_ID_5": {
                                              "runAfter": {},
                                              "metadata": {
                                                "operationMetadataId": "4b50c61b-73c0-4ac4-85b4-38eb90acaabf"
                                              },
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connectionName": "shared_commondataserviceforapps",
                                                  "operationId": "GetItem",
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                  "entityName": "crb76_clientes",
                                                  "recordId": "@items('Aplicar_a_cada_6')['crb76_clienteid']"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            },
                                            "Atualizar_uma_linha_7": {
                                              "runAfter": {
                                                "Obter_uma_linha_por_ID_5": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "7d881bd7-7b97-4ec0-b20b-e368fa03433a"
                                              },
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connectionName": "shared_commondataserviceforapps",
                                                  "operationId": "UpdateRecord",
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                  "entityName": "lt_registroparafechamentos",
                                                  "recordId": "@outputs('Criando_Venda_2')?['body/lt_registroparafechamentoid']",
                                                  "item/lt_Cliente@odata.bind": "@outputs('Obter_uma_linha_por_ID_5')?['body/@odata.id']"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            }
                                          },
                                          "runAfter": {
                                            "Analisar_JSON_7": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "ab826f8a-d79a-4d93-9491-504a3c490c87"
                                          },
                                          "type": "Foreach"
                                        }
                                      },
                                      "runAfter": {
                                        "Criando_Venda_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "64ddecaf-302c-4eeb-9501-1e9b296bc1e0"
                                      },
                                      "type": "Scope"
                                    },
                                    "Adicionando_Meio_de_Pagamento_Recebimento_2": {
                                      "actions": {
                                        "Listar_linhas_5": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "03a0fa4a-f9c4-4fa8-a981-14c353015976"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps",
                                              "operationId": "ListRecords",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "crb76_meiopagamentorecebimentos"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Matriz_do_filtro_8": {
                                          "runAfter": {
                                            "Listar_linhas_5": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "7ec0ad72-71eb-4bac-9b62-db8c171f5b37"
                                          },
                                          "type": "Query",
                                          "inputs": {
                                            "from": "@outputs('Listar_linhas_5')?['body/value']",
                                            "where": "@equals(item()?['crb76_nomemeiopagamentorecebimento'], '1x - Dinheiro')"
                                          }
                                        },
                                        "Analisar_JSON_8": {
                                          "runAfter": {
                                            "Matriz_do_filtro_8": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "0bc56858-0bd4-4b99-9f54-491689ace7c9"
                                          },
                                          "type": "ParseJson",
                                          "inputs": {
                                            "content": "@body('Matriz_do_filtro_8')",
                                            "schema": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "crb76_meiopagamentorecebimentoid": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "crb76_meiopagamentorecebimentoid"
                                                ]
                                              }
                                            }
                                          }
                                        },
                                        "Aplicar_a_cada_7": {
                                          "foreach": "@body('Analisar_JSON_8')",
                                          "actions": {
                                            "Obter_uma_linha_por_ID_6": {
                                              "runAfter": {},
                                              "metadata": {
                                                "operationMetadataId": "2e649a71-217f-483d-9a40-851dac0abb9e"
                                              },
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connectionName": "shared_commondataserviceforapps",
                                                  "operationId": "GetItem",
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                  "entityName": "crb76_meiopagamentorecebimentos",
                                                  "recordId": "@items('Aplicar_a_cada_7')['crb76_meiopagamentorecebimentoid']"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            },
                                            "Atualizar_uma_linha_8": {
                                              "runAfter": {
                                                "Obter_uma_linha_por_ID_6": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "f2b4f6ac-8a6e-48c6-b1f5-44a1b8188994"
                                              },
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connectionName": "shared_commondataserviceforapps",
                                                  "operationId": "UpdateRecord",
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                  "entityName": "lt_registroparafechamentos",
                                                  "recordId": "@outputs('Criando_Venda_2')?['body/lt_registroparafechamentoid']",
                                                  "item/crb76_MeioRecebimento@odata.bind": "@outputs('Obter_uma_linha_por_ID_6')?['body/@odata.id']"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            }
                                          },
                                          "runAfter": {
                                            "Analisar_JSON_8": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "3ca9139c-6fe6-4240-a137-602a9d67f6c8"
                                          },
                                          "type": "Foreach"
                                        }
                                      },
                                      "runAfter": {
                                        "Adicionando_Cliente_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "1793886e-6a4b-4b9c-a522-be243fe2f7f3"
                                      },
                                      "type": "Scope"
                                    },
                                    "Adicionando_Moeda_2": {
                                      "actions": {
                                        "Listar_linhas_6": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "07a4e0dd-8a0b-4e4c-b945-1b3381186668"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps",
                                              "operationId": "ListRecords",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "crb76_moedases"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Matriz_do_filtro_9": {
                                          "runAfter": {
                                            "Listar_linhas_6": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "79c61c9a-0ae8-4928-8c4e-2ae232dbe47b"
                                          },
                                          "type": "Query",
                                          "inputs": {
                                            "from": "@outputs('Listar_linhas_6')?['body/value']",
                                            "where": "@equals(item()?['crb76_nomedamoeda'], 'Real Brasileiro')"
                                          }
                                        },
                                        "Analisar_JSON_9": {
                                          "runAfter": {
                                            "Matriz_do_filtro_9": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "0491aa74-3c84-429f-84bf-d4790c94448d"
                                          },
                                          "type": "ParseJson",
                                          "inputs": {
                                            "content": "@body('Matriz_do_filtro_9')",
                                            "schema": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "crb76_moedasid": {
                                                    "type": "string"
                                                  },
                                                  "crb76_nomedamoeda": {
                                                    "type": "string"
                                                  },
                                                  "crb76_simbolo": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "crb76_moedasid",
                                                  "crb76_nomedamoeda",
                                                  "crb76_simbolo"
                                                ]
                                              }
                                            }
                                          }
                                        },
                                        "Aplicar_a_cada_8": {
                                          "foreach": "@body('Analisar_JSON_9')",
                                          "actions": {
                                            "Obter_uma_linha_por_ID_7": {
                                              "runAfter": {},
                                              "metadata": {
                                                "operationMetadataId": "86a7666d-08ee-466f-aa4f-aaeada632af6"
                                              },
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connectionName": "shared_commondataserviceforapps",
                                                  "operationId": "GetItem",
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                  "entityName": "crb76_moedases",
                                                  "recordId": "@items('Aplicar_a_cada_8')['crb76_moedasid']"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            },
                                            "Atualizar_uma_linha_9": {
                                              "runAfter": {
                                                "Obter_uma_linha_por_ID_7": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "6ea82ba0-9292-4811-98f8-ebcc101fc826"
                                              },
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connectionName": "shared_commondataserviceforapps",
                                                  "operationId": "UpdateRecord",
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                  "entityName": "lt_registroparafechamentos",
                                                  "recordId": "@outputs('Criando_Venda_2')?['body/lt_registroparafechamentoid']",
                                                  "item/lt_moedas@odata.bind": "@outputs('Obter_uma_linha_por_ID_7')?['body/@odata.id']"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            }
                                          },
                                          "runAfter": {
                                            "Analisar_JSON_9": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "3088ac2c-972e-49cc-9b37-6e394142743d"
                                          },
                                          "type": "Foreach"
                                        }
                                      },
                                      "runAfter": {
                                        "Adicionando_Meio_de_Pagamento_Recebimento_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "466f7d4b-a91d-488f-800b-28eb7e3ca16d"
                                      },
                                      "type": "Scope"
                                    },
                                    "Adicionando_Unidade_de_Negócio_2": {
                                      "actions": {
                                        "Listar_linhas_7": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "d4d0682b-e842-44d9-9f3f-e4d723f28f0c"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps",
                                              "operationId": "ListRecords",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "businessunits"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Matriz_do_filtro_10": {
                                          "runAfter": {
                                            "Listar_linhas_7": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "717a90c0-0dce-4b37-8089-ddb6065b68c8"
                                          },
                                          "type": "Query",
                                          "inputs": {
                                            "from": "@outputs('Listar_linhas_7')?['body/value']",
                                            "where": "@equals(item()?['_lt_lojarelacionada_value'], outputs('Obtendo_Loja')?['body/cre0a_lojaid'])"
                                          }
                                        },
                                        "Analisar_JSON_10": {
                                          "runAfter": {
                                            "Matriz_do_filtro_10": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "e1e45084-4f04-4976-ba41-ef1c15d8f61d"
                                          },
                                          "type": "ParseJson",
                                          "inputs": {
                                            "content": "@body('Matriz_do_filtro_10')",
                                            "schema": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "businessunitid": {
                                                    "type": "string"
                                                  },
                                                  "name": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "businessunitid",
                                                  "name"
                                                ]
                                              }
                                            }
                                          }
                                        },
                                        "Aplicar_a_cada_9": {
                                          "foreach": "@body('Analisar_JSON_10')",
                                          "actions": {
                                            "Obter_uma_linha_por_ID_8": {
                                              "runAfter": {},
                                              "metadata": {
                                                "operationMetadataId": "63c031cc-6ce0-4a02-a331-d05459f49b28"
                                              },
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connectionName": "shared_commondataserviceforapps",
                                                  "operationId": "GetItem",
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                  "entityName": "businessunits",
                                                  "recordId": "@items('Aplicar_a_cada_9')['businessunitid']"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            },
                                            "Atualizar_uma_linha_10": {
                                              "runAfter": {
                                                "Obter_uma_linha_por_ID_8": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "2abf0538-6555-428d-af9a-65897d810528"
                                              },
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connectionName": "shared_commondataserviceforapps",
                                                  "operationId": "UpdateRecord",
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                  "entityName": "lt_registroparafechamentos",
                                                  "recordId": "@outputs('Criando_Venda_2')?['body/lt_registroparafechamentoid']",
                                                  "item/crb76_UnidadedeNegocioVendedora@odata.bind": "@outputs('Obter_uma_linha_por_ID_8')?['body/@odata.id']"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            }
                                          },
                                          "runAfter": {
                                            "Analisar_JSON_10": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "b330e8ca-24a3-4490-9fe5-05a2069c28aa"
                                          },
                                          "type": "Foreach"
                                        }
                                      },
                                      "runAfter": {
                                        "Adicionando_Moeda_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "a24adf4a-554a-4504-9e99-45e6a199ed7b"
                                      },
                                      "type": "Scope"
                                    },
                                    "Obtendo_Venda_Atualizada_2": {
                                      "runAfter": {
                                        "Adicionando_Unidade_de_Negócio_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "a60149a2-b3db-4c6c-b2c7-d4ef2fc38e9b"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "GetItem",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "lt_registroparafechamentos",
                                          "recordId": "@outputs('Criando_Venda_2')?['body/lt_registroparafechamentoid']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Obtendo_Moedas_2": {
                                      "runAfter": {
                                        "Obtendo_Venda_Atualizada_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "f8f11c4c-0898-4473-8fab-49b39f0222b2"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "GetItem",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "crb76_moedases",
                                          "recordId": "@outputs('Obtendo_Venda_Atualizada_2')?['body/_lt_moedas_value']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Quantidade_2": {
                                      "runAfter": {
                                        "Obtendo_Moedas_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "a4c99f0d-022e-4987-8c89-371aa3434bd3"
                                      },
                                      "type": "Compose",
                                      "inputs": "@if(equals(outputs('Preço_do_Produto'), 0), 0, first(split(string(div(outputs('Obtendo_Venda_Atualizada_2')?['body/lt_valor'], outputs('Preço_do_Produto'))), '.')))"
                                    },
                                    "ValorTotalDaVenda_2": {
                                      "runAfter": {
                                        "Quantidade_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "cacb38bb-c535-452b-bc34-008da499ede9"
                                      },
                                      "type": "Compose",
                                      "inputs": "@if(equals(outputs('Preço_do_Produto'), 0), outputs('Obtendo_Venda_Atualizada_2')?['body/lt_valor'], mul(outputs('Preço_do_Produto'), float(outputs('Quantidade_2'))))"
                                    },
                                    "PreçoUnitárioMédio_2": {
                                      "runAfter": {
                                        "ValorTotalDaVenda_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "c94cc177-ced1-4b00-9796-9a1a0bd64b40"
                                      },
                                      "type": "Compose",
                                      "inputs": "@if(equals(float(outputs('Quantidade_2')), 0), 0, div(outputs('Obtendo_Venda_Atualizada_2')?['body/lt_valor'], float(outputs('Quantidade_2'))))"
                                    },
                                    "ValorDoDescontoDaVenda_2": {
                                      "runAfter": {
                                        "PreçoUnitárioMédio_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "df052dab-a61d-433f-b9ad-82c7914bd811"
                                      },
                                      "type": "Compose",
                                      "inputs": "@sub(outputs('Obtendo_Venda_Atualizada_2')?['body/lt_valor'], outputs('ValorTotalDaVenda_2'))"
                                    },
                                    "Adicionando_Produto_Vendido_2": {
                                      "runAfter": {
                                        "ValorDoDescontoDaVenda_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "7c4ef9be-244a-401c-b509-87c97eef0c5c"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "CreateRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "crb76_produtovendidos",
                                          "item/lt_criacaovendadevido1": 124400005,
                                          "item/crb76_Produto@odata.bind": "@outputs('Obtendo_Produto_da_Máquina')?['body/@odata.id']",
                                          "item/crb76_quantidade": "@outputs('Quantidade_2')",
                                          "item/lt_vendaId@odata.bind": "@outputs('Obtendo_Venda_Atualizada_2')?['body/@odata.id']",
                                          "item/lt_datahoratransacao": "@outputs('DataHora_Transação')",
                                          "item/lt_loja@odata.bind": "@outputs('Loja')",
                                          "item/lt_moedas@odata.bind": "@outputs('Obtendo_Moedas_2')?['body/@odata.id']",
                                          "item/lt_precounitario": "@outputs('Preço_do_Produto')",
                                          "item/lt_precomedio": "@outputs('PreçoUnitárioMédio_2')",
                                          "item/lt_valordesconto": 0,
                                          "item/lt_valortotalvendaprodutovendido": "@outputs('ValorTotalDaVenda_2')",
                                          "item/lt_valorvenda": "@outputs('Obtendo_Venda_Atualizada_2')?['body/lt_valor']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Atualizar_uma_linha_6": {
                                      "runAfter": {
                                        "Adicionando_Produto_Vendido_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "cae957c0-080a-4130-8843-680805b93393"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "UpdateRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "lt_registroparafechamentos",
                                          "recordId": "@outputs('Obtendo_Venda_Atualizada_2')?['body/lt_registroparafechamentoid']",
                                          "item/lt_valordescontoof": "@outputs('ValorDoDescontoDaVenda_2')",
                                          "item/lt_valortotaldavenda": "@outputs('ValorTotalDaVenda_2')"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    }
                                  },
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "e66d2d73-a5f3-44e4-82bb-bf0faf330961"
                                  },
                                  "type": "Scope"
                                }
                              },
                              "runAfter": {
                                "Filter_array_7": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                  "@length(body('Filter_array_7'))",
                                  0
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "f5a2d206-9696-4be3-90f6-299ace0d7a50"
                              },
                              "type": "If"
                            }
                          }
                        },
                        "expression": {
                          "greaterOrEquals": [
                            "@length(body('Filter_array_6'))",
                            1
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "42df6428-2eeb-499e-8c4e-4be289f03955"
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "greaterOrEquals": [
                      "@length(body('Filter_array'))",
                      1
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8f7df9da-c938-4630-a723-b998eacc68f9"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Matriz_do_filtro_2": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "greaterOrEquals": [
                      "@length(body('Matriz_do_filtro_2'))",
                      1
                    ]
                  },
                  {
                    "not": {
                      "equals": [
                        "@outputs('Total')",
                        0
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "aec4800a-83e2-4b3e-9fb9-baef5e0021fa"
              },
              "type": "If"
            },
            "Total": {
              "runAfter": {
                "TotalSemConverter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8ee5e4df-de65-45d4-b27e-b02f06f84799"
              },
              "type": "Compose",
              "inputs": "@if(\r\n    or(equals(outputs('TotalSemConverter'), null), equals(outputs('TotalSemConverter'), 0)),\r\n    0,\r\n    if(\r\n        equals(mod(float(replace(string(outputs('TotalSemConverter')), ',', '.')), 1), 0),\r\n        float(replace(string(outputs('TotalSemConverter')), ',', '.')),\r\n        mul(float(replace(string(outputs('TotalSemConverter')), ',', '.')), 1000)\r\n    )\r\n)"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3d3666fd-5193-4c85-b860-4fe4e86be2a8"
          },
          "type": "Foreach"
        },
        "Initialize_variable": {
          "runAfter": {
            "Analisar_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8d34c9de-776a-4f8a-926f-2dcd39217fde"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varTotal",
                "type": "float",
                "value": 0
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}