unpacked/AberturadeOSMicoLeo/Workflows/Mquina-1RecolhimentoMensal-94BB58A1-DE97-EF11-8A6A-6045BD38F029.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "lt_sharedcommondataserviceforapps_6bc80"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Quando_uma_linha_é_adicionada,_modificada_ou_excluída": {
          "metadata": {
            "operationMetadataId": "edf9389c-2da7-493d-8bb2-6e4bffcfcdb4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "lt_recolhimento",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condição": {
          "actions": {
            "Obter_uma_linha_por_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e878e2ab-3dd8-497b-b2c6-a40c50c43805"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cre0a_maquinas",
                  "recordId": "@triggerOutputs()?['body/_lt_maquina_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Atualizar_uma_linha": {
              "runAfter": {
                "Obter_uma_linha_por_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9330405c-2735-4016-a05b-50dc07f03039"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cre0a_maquinas",
                  "recordId": "@outputs('Obter_uma_linha_por_ID')?['body/cre0a_maquinaid']",
                  "item/lt_recolhimentomensalexecutado": true
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_lt_maquina_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "adb5dfb8-655d-40c7-87f2-2726ace656d1"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}