unpacked/AberturadeOSMicoLeo/Workflows/Venda-ConfernciadeNumerrio-D779AA18-285E-EF11-BFE4-6045BD3C58B6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "lt_sharedcommondataserviceforapps_6bc80"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Quando_uma_linha_é_adicionada,_modificada_ou_excluída": {
          "metadata": {
            "operationMetadataId": "7e137a6d-a9b3-4851-90ec-62b6acbcaa2b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "crb76_conferencianumerario",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "ValorTotalConferido": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6d7a3591-e883-46e8-b399-5e480ae2105c"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/crb76_valortotalconferido']"
        },
        "Obtendo_Recolhimento": {
          "runAfter": {
            "ValorTotalConferido": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "643ca397-a8b5-4dcb-81ed-8315c8720bb0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "lt_recolhimentos",
              "recordId": "@triggerOutputs()?['body/_lt_recolhimento1_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "ID_Recolhimento": {
          "runAfter": {
            "Obtendo_Recolhimento": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "db499662-5d5e-4f62-93ab-174b5f9ac63d"
          },
          "type": "Compose",
          "inputs": "@outputs('Obtendo_Recolhimento')?['body/lt_recolhimentoid']"
        },
        "Obtendo_Máquina": {
          "runAfter": {
            "Atualizando_Recolhimento": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "02ac34c3-a007-45bb-9bc5-563e7e144191"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cre0a_maquinas",
              "recordId": "@outputs('Obtendo_Recolhimento')?['body/_lt_maquina_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Máquina": {
          "runAfter": {
            "Obtendo_Máquina": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a4e965b9-3049-468c-a987-fa7bf8ccf3d3"
          },
          "type": "Compose",
          "inputs": "@outputs('Obtendo_Máquina')?['body/@odata.id']"
        },
        "Condição": {
          "actions": {
            "Obtendo_Auditoria": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f594ebdb-b78e-4719-b863-59027f5f2a35"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "crb76_auditoriamaquinas",
                  "recordId": "@outputs('Obtendo_Recolhimento')?['body/_lt_auditoria_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "ID_Auditoria": {
              "runAfter": {
                "Obtendo_Auditoria": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e3d7bd12-219f-4645-97ee-d75b498e2576"
              },
              "type": "Compose",
              "inputs": "@outputs('Obtendo_Auditoria')?['body/crb76_novacoluna']"
            },
            "DataHora_Auditoria": {
              "runAfter": {
                "ID_Auditoria": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "80f3e859-b5f1-4606-bfe2-e29f656be68e"
              },
              "type": "Compose",
              "inputs": "@outputs('Obtendo_Auditoria')?['body/lt_datahoraauditoria']"
            },
            "Obtendo_Loja": {
              "runAfter": {
                "DataHora_Auditoria": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3edfed8c-b538-4f1f-b744-b06d4d3b9111"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cre0a_lojas",
                  "recordId": "@outputs('Obtendo_Recolhimento')?['body/_lt_loja_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Loja": {
              "runAfter": {
                "Obtendo_Loja": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b5d2f82a-272e-4bba-99b1-dd36c9d9db4b"
              },
              "type": "Compose",
              "inputs": "@outputs('Obtendo_Loja')?['body/@odata.id']"
            },
            "Obtendo_Produto_da_Máquina": {
              "runAfter": {
                "Loja": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6170d8fe-2d1c-49e0-a873-3cb054faa1b8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "crb76_produtos",
                  "recordId": "@outputs('Obtendo_Máquina')?['body/_lt_produto_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Produto": {
              "runAfter": {
                "Obtendo_Produto_da_Máquina": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a47fade-6e62-47a8-8c85-b1e908c087be"
              },
              "type": "Compose",
              "inputs": "@outputs('Obtendo_Produto_da_Máquina')?['body/@odata.id']"
            },
            "Listando_Preços": {
              "runAfter": {
                "Produto": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "288d5d74-aa2f-42ee-b8d2-2639fe37eb70"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "crb76_precos"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Matriz_do_filtro": {
              "runAfter": {
                "Listando_Preços": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8acb1f4a-b5d2-4e6a-ac77-39347e9e35b3"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Listando_Preços')?['body/value']",
                "where": "@and(\n  equals(item()?['_crb76_produto_value'], outputs('Obtendo_Produto_da_Máquina')?['body/crb76_produtoid']),\n  greaterOrEquals(outputs('DataHora_Auditoria'), item()?['crb76_datainicio']),\n  lessOrEquals(outputs('DataHora_Auditoria'), if(empty(item()?['lt_datafim']), utcNow(), item()?['lt_datafim'])),\n  equals(item()?['_lt_loja_value'], outputs('Obtendo_Loja')?['body/cre0a_lojaid']),\n  not(equals(item()?['crb76_preco'], 0))\n)"
              }
            },
            "Analisar_JSON": {
              "runAfter": {
                "Matriz_do_filtro": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "96b9736b-111d-438e-80e1-a7ce61670d54"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Matriz_do_filtro')",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "crb76_preco": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "crb76_preco"
                    ]
                  }
                }
              }
            },
            "Preço_do_Produto": {
              "runAfter": {
                "Analisar_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "469145d0-b3c8-4c44-98cb-d3074136a106"
              },
              "type": "Compose",
              "inputs": "@body('Analisar_JSON')[0]['crb76_preco']"
            },
            "Condição_2": {
              "actions": {
                "Criando_Venda": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "db6409bc-0896-452d-960a-eab36ce4c8a3"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "lt_registroparafechamentos",
                      "item/lt_criacaovendadevido": 124400000,
                      "item/crb76_dataentrada": "@outputs('Data_Recolhimento')",
                      "item/crb76_dataentregaouprevisao": "@outputs('Data_Recolhimento')",
                      "item/crb76_entregaprodutosefetuada": true,
                      "item/lt_loja@odata.bind": "@outputs('Loja')",
                      "item/lt_maquina@odata.bind": "@outputs('Máquina')",
                      "item/crb76_modalidadetransporte": 452870001,
                      "item/lt_outrosvaloresvendas": 0,
                      "item/lt_valor": "@outputs('ValorTotalConferido')",
                      "item/crb76_valorfrete": 0,
                      "item/lt_valorrecebido": "@outputs('ValorTotalConferido')",
                      "item/lt_valortotalfinanciado": 0
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Aplicar_a_cada_2": {
                  "foreach": "@body('JSON_Clientes')",
                  "actions": {
                    "Obtendo_Cliente": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "71c468db-9699-405f-8ff9-2013487f2707"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "crb76_clientes",
                          "recordId": "@items('Aplicar_a_cada_2')['crb76_clienteid']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Nome_Cliente": {
                      "runAfter": {
                        "Obtendo_Cliente": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "02e1f268-a724-4baa-940d-6fcf5838152a"
                      },
                      "type": "Compose",
                      "inputs": "@outputs('Obtendo_Cliente')?['body/@odata.id']"
                    },
                    "Atualizar_uma_linha": {
                      "runAfter": {
                        "Nome_Cliente": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ca3c8bb9-e88d-4c19-b338-c30898b2b14a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "lt_registroparafechamentos",
                          "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']",
                          "item/lt_Cliente@odata.bind": "@outputs('Nome_Cliente')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "JSON_Clientes": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1cb10a2a-ea57-4e29-b4f7-d95bb6b27027"
                  },
                  "type": "Foreach"
                },
                "JSON_Clientes": {
                  "runAfter": {
                    "Filtro_Clientes": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "92127697-f84b-4f1e-9148-b2fec3cbcb06"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Filtro_Clientes')",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lt_nomecliente": {
                            "type": "string"
                          },
                          "crb76_clienteid": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "lt_nomecliente",
                          "crb76_clienteid"
                        ]
                      }
                    }
                  }
                },
                "Filtro_Clientes": {
                  "runAfter": {
                    "Listando_Clientes": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b36ce0d1-c93e-469c-8529-dd5b0e275ebe"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('Listando_Clientes')?['body/value']",
                    "where": "@equals(item()?['lt_numerocliente'], 'CLIENTE-00001001')"
                  }
                },
                "Listando_Clientes": {
                  "runAfter": {
                    "Criando_Venda": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "49761d1d-a4a5-449d-a5cd-756a4d2bf269"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "crb76_clientes"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Aplicar_a_cada_3": {
                  "foreach": "@body('JSON_Meio_Pagamento')",
                  "actions": {
                    "Obtendo_Meio_Pagamento_Recebimento": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "478c9168-6a1b-42d1-ad84-77873626ed07"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "crb76_meiopagamentorecebimentos",
                          "recordId": "@items('Aplicar_a_cada_3')['crb76_meiopagamentorecebimentoid']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Meio_Pagamento": {
                      "runAfter": {
                        "Obtendo_Meio_Pagamento_Recebimento": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a65e22cb-6b20-447d-9bf4-0a394d9d50ce"
                      },
                      "type": "Compose",
                      "inputs": "@outputs('Obtendo_Meio_Pagamento_Recebimento')?['body/@odata.id']"
                    },
                    "Atualizar_uma_linha_2": {
                      "runAfter": {
                        "Meio_Pagamento": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3276ffdf-683c-44ea-9ef6-5a54a4c8f881"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "lt_registroparafechamentos",
                          "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']",
                          "item/crb76_MeioRecebimento@odata.bind": "@outputs('Meio_Pagamento')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "JSON_Meio_Pagamento": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ad783974-6f27-4043-a3d9-624870a94660"
                  },
                  "type": "Foreach"
                },
                "JSON_Meio_Pagamento": {
                  "runAfter": {
                    "Filtro_Meio_Pagamento": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6d8fb745-6316-49a7-a632-ffa2f00db905"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Filtro_Meio_Pagamento')",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "crb76_nomemeiopagamentorecebimento": {
                            "type": "string"
                          },
                          "crb76_meiopagamentorecebimentoid": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "crb76_nomemeiopagamentorecebimento",
                          "crb76_meiopagamentorecebimentoid"
                        ]
                      }
                    }
                  }
                },
                "Filtro_Meio_Pagamento": {
                  "runAfter": {
                    "Listando_Meio_Pagamento_Recebimento": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b0ab95a1-ccee-4bda-8411-d868449bbfa0"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('Listando_Meio_Pagamento_Recebimento')?['body/value']",
                    "where": "@equals(item()?['crb76_nomemeiopagamentorecebimento'], '1x - Dinheiro')"
                  }
                },
                "Listando_Meio_Pagamento_Recebimento": {
                  "runAfter": {
                    "Aplicar_a_cada_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "46823812-9a81-44d5-b21c-58946b6ba8bc"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "crb76_meiopagamentorecebimentos"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Listando_Unidade_de_Negócios": {
                  "runAfter": {
                    "Aplicar_a_cada_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2257c9b4-2cb0-4a18-bfd0-50b48cc8d57e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "businessunits"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Filtro_Unidade": {
                  "runAfter": {
                    "Listando_Unidade_de_Negócios": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "62641dfd-135d-4a9a-82b8-da1b305aa907"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('Listando_Unidade_de_Negócios')?['body/value']",
                    "where": "@equals(item()?['_lt_lojarelacionada_value'], outputs('Obtendo_Loja')?['body/cre0a_lojaid'])"
                  }
                },
                "JSON_Unidade": {
                  "runAfter": {
                    "Filtro_Unidade": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "022fed9e-bbe5-4dcb-8cb9-8a1876470af8"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Filtro_Unidade')",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "businessunitid": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "businessunitid",
                          "name"
                        ]
                      }
                    }
                  }
                },
                "Aplicar_a_cada": {
                  "foreach": "@body('JSON_Unidade')",
                  "actions": {
                    "Obtendo_Unidade": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "5fe44a9c-0611-4dda-a2c3-dc014c4b9a7b"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "businessunits",
                          "recordId": "@items('Aplicar_a_cada')['businessunitid']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Unidade": {
                      "runAfter": {
                        "Obtendo_Unidade": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6bb54b25-cbdd-40e6-97d0-56fa73c9b42f"
                      },
                      "type": "Compose",
                      "inputs": "@outputs('Obtendo_Unidade')?['body/@odata.id']"
                    },
                    "Atualizar_uma_linha_3": {
                      "runAfter": {
                        "Unidade": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "79fdaaab-4e82-466b-996e-f26152979787"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "lt_registroparafechamentos",
                          "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']",
                          "item/crb76_UnidadedeNegocioVendedora@odata.bind": "@outputs('Unidade')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "JSON_Unidade": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f37b398f-73d3-41c9-9903-9b48e2df38d9"
                  },
                  "type": "Foreach"
                },
                "Listar_linhas": {
                  "runAfter": {
                    "Aplicar_a_cada_4": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1552d433-f7ad-4f84-8135-0e6c69515c1a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "lt_recolhimentos"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Filtrando_Recolhimento_Com_Mesma_Loja_e_Máquina": {
                  "runAfter": {
                    "Listar_linhas": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "83a18519-9f3b-46f5-9d6d-e0b0fba0e67b"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('Listar_linhas')?['body/value']",
                    "where": "@and(\n    equals(item()?['_lt_loja_value'], outputs('Obtendo_Loja')?['body/cre0a_lojaid']),\n    equals(item()?['_lt_maquina_value'], outputs('Obtendo_Máquina')?['body/cre0a_maquinaid']),\n    not(equals(item()?['lt_recolhimentoid'], triggerOutputs()?['body/_lt_recolhimento1_value']))\n)\n"
                  }
                },
                "Condição_3": {
                  "actions": {
                    "Último_Recolhimento_Criado": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "331f4c5a-f447-4b9a-96ce-0a106ec3afcd"
                      },
                      "type": "Compose",
                      "inputs": "@first(reverse(sort(body('Filtrando_Recolhimento_Com_Mesma_Loja_e_Máquina'), 'lt_data')))"
                    },
                    "Analisar_JSON_2": {
                      "runAfter": {
                        "Último_Recolhimento_Criado": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d0b955f5-b6ce-4727-a3b8-50aec327823d"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@outputs('Último_Recolhimento_Criado')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "lt_idrecolhimento": {
                              "type": "string"
                            },
                            "lt_data": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "_lt_auditoria_value": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "lt_idrecolhimento",
                            "lt_data",
                            "_lt_auditoria_value"
                          ]
                        }
                      }
                    },
                    "Obtendo_Auditoria_Passada": {
                      "runAfter": {
                        "Analisar_JSON_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a2b051c9-bf2d-4c36-8473-2134e68051ea"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "crb76_auditoriamaquinas",
                          "recordId": "@body('Analisar_JSON_2')['_lt_auditoria_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Créditos_Passada": {
                      "runAfter": {
                        "Obtendo_Auditoria_Passada": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0879543e-ad38-4ca6-9582-a33b136a88ea"
                      },
                      "type": "Compose",
                      "inputs": "@outputs('Obtendo_Auditoria_Passada')?['body/lt_quantidadedecredito']"
                    },
                    "Diferença_de_Créditos_entre_Auditorias": {
                      "runAfter": {
                        "Créditos_Passada": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "cb3ccf5c-a95f-47fd-861e-96e6580909bf"
                      },
                      "type": "Compose",
                      "inputs": "@sub(outputs('Obtendo_Auditoria')?['body/lt_quantidadedecredito'], outputs('Créditos_Passada'))"
                    },
                    "Quantidade": {
                      "runAfter": {
                        "Diferença_de_Créditos_entre_Auditorias": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8106e040-f9f0-43ea-9955-c67fe031e342"
                      },
                      "type": "Compose",
                      "inputs": "@div(outputs('Diferença_de_Créditos_entre_Auditorias'), outputs('Créditos_Por_Experiência_Máquina'))"
                    },
                    "Criando_Produto_Vendido": {
                      "runAfter": {
                        "ObtendoMoeda": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8f53572c-4da2-463c-8ec9-d8fca4c4a3ab"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "crb76_produtovendidos",
                          "item/lt_criacaovendadevido1": 124400000,
                          "item/crb76_Produto@odata.bind": "@outputs('Produto')",
                          "item/crb76_quantidade": "@outputs('Quantidade')",
                          "item/lt_vendaId@odata.bind": "@outputs('Criando_Venda')?['body/@odata.id']",
                          "item/lt_loja@odata.bind": "@outputs('Loja')",
                          "item/lt_moedas@odata.bind": "@outputs('ObtendoMoeda')?['body/@odata.id']",
                          "item/lt_precounitario": "@outputs('Preço_do_Produto')",
                          "item/lt_precomedio": "@outputs('PreçoUnitárioMédio')",
                          "item/lt_valordesconto": 0,
                          "item/lt_valortotalvendaprodutovendido": "@outputs('ValorTotalDaVenda')",
                          "item/lt_valorvenda": "@outputs('ValorTotalConferido')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Obtendo_Venda_Atualizada": {
                      "runAfter": {
                        "ValorTotalDaVenda": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d86b73f1-7016-4f9b-b63d-3e0ad246427d"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "lt_registroparafechamentos",
                          "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "ObtendoMoeda": {
                      "runAfter": {
                        "ValorDescontoVenda": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "47382be4-7bd9-42cc-8fb6-eb23c662f1d0"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "crb76_moedases",
                          "recordId": "@outputs('Obtendo_Venda_Atualizada')?['body/_lt_moedas_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "ValorTotalDaVenda": {
                      "runAfter": {
                        "PreçoUnitárioMédio": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "bc65e41f-5a99-4663-8ece-bc1ffc4dcd6e"
                      },
                      "type": "Compose",
                      "inputs": "@mul(outputs('Preço_do_Produto'), outputs('Quantidade'))"
                    },
                    "ValorDescontoVenda": {
                      "runAfter": {
                        "Obtendo_Venda_Atualizada": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "caf59c71-0e3a-42ac-b0cf-e697c99bee17"
                      },
                      "type": "Compose",
                      "inputs": "@sub(outputs('ValorTotalConferido'), outputs('ValorTotalDaVenda'))"
                    },
                    "Atualizar_uma_linha_5": {
                      "runAfter": {
                        "Criando_Produto_Vendido": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "45db3147-08e6-4c0d-b529-96b2199724d1"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "lt_registroparafechamentos",
                          "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']",
                          "item/lt_valordescontoof": "@outputs('ValorDescontoVenda')",
                          "item/lt_valortotaldavenda": "@outputs('ValorTotalDaVenda')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "PreçoUnitárioMédio": {
                      "runAfter": {
                        "Quantidade": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "144e1175-8dd6-4398-9596-4379b0677fec"
                      },
                      "type": "Compose",
                      "inputs": "@div(outputs('ValorTotalConferido'), outputs('Quantidade'))"
                    }
                  },
                  "runAfter": {
                    "Filtrando_Recolhimento_Com_Mesma_Loja_e_Máquina": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Crédito_Auditoria": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "aae75e1c-cec5-4987-b708-26711a5657e6"
                        },
                        "type": "Compose",
                        "inputs": "@outputs('Obtendo_Auditoria')?['body/lt_quantidadedecredito']"
                      },
                      "Quantidade_Inicial": {
                        "runAfter": {
                          "Crédito_Auditoria": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "a3291fe8-25f7-436f-901e-42b3df25a3df"
                        },
                        "type": "Compose",
                        "inputs": "@div(outputs('Crédito_Auditoria'), outputs('Créditos_Por_Experiência_Máquina'))"
                      },
                      "Criando_Produto_Vendido_2": {
                        "runAfter": {
                          "ObtendoMoeda2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "a980bed3-40e1-44d7-9b7b-a9a0acf8c4cf"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "crb76_produtovendidos",
                            "item/lt_criacaovendadevido1": 124400000,
                            "item/crb76_Produto@odata.bind": "@outputs('Produto')",
                            "item/crb76_quantidade": "@outputs('Quantidade_Inicial')",
                            "item/lt_vendaId@odata.bind": "@outputs('Criando_Venda')?['body/@odata.id']",
                            "item/lt_loja@odata.bind": "@outputs('Loja')",
                            "item/lt_moedas@odata.bind": "@outputs('ObtendoMoeda2')?['body/@odata.id']",
                            "item/lt_precounitario": "@outputs('Preço_do_Produto')",
                            "item/lt_precomedio": "@outputs('PreçoUnitárioMédio2')",
                            "item/lt_valordesconto": 0,
                            "item/lt_valortotalvendaprodutovendido": "@outputs('ValorTotalDaVenda2')",
                            "item/lt_valorvenda": "@outputs('ValorTotalConferido')"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Obtendo_Venda_Atualizada_2": {
                        "runAfter": {
                          "PreçoUnitárioMédio2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "f1f5dba9-6d52-468e-8a15-192695756f9a"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "lt_registroparafechamentos",
                            "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "ObtendoMoeda2": {
                        "runAfter": {
                          "ValorDescontoVenda2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "2e62f480-bab2-48ce-adf3-0b6c9b18ef2d"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "crb76_moedases",
                            "recordId": "@outputs('Obtendo_Venda_Atualizada_2')?['body/_lt_moedas_value']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "ValorTotalDaVenda2": {
                        "runAfter": {
                          "Quantidade_Inicial": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "2fb98df3-9b3b-4ead-99a0-22ecdd4f08cc"
                        },
                        "type": "Compose",
                        "inputs": "@mul(outputs('Preço_do_Produto'), outputs('Quantidade_Inicial'))"
                      },
                      "ValorDescontoVenda2": {
                        "runAfter": {
                          "Obtendo_Venda_Atualizada_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "c41993d5-de89-4dfa-81ec-65b1506498fb"
                        },
                        "type": "Compose",
                        "inputs": "@sub(outputs('ValorTotalConferido'), outputs('ValorTotalDaVenda2'))"
                      },
                      "Atualizar_uma_linha_6": {
                        "runAfter": {
                          "Criando_Produto_Vendido_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "f916db0f-caaa-4baa-89d7-0150be264380"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "lt_registroparafechamentos",
                            "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']",
                            "item/lt_valordescontoof": "@outputs('ValorDescontoVenda2')",
                            "item/lt_valortotaldavenda": "@outputs('ValorTotalDaVenda2')"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "PreçoUnitárioMédio2": {
                        "runAfter": {
                          "ValorTotalDaVenda2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "275b4b80-6ae1-48f6-9e7e-047f568c317e"
                        },
                        "type": "Compose",
                        "inputs": "@div(outputs('ValorTotalConferido'), outputs('Quantidade_Inicial'))"
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@length(body('Filtrando_Recolhimento_Com_Mesma_Loja_e_Máquina'))",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "27b01936-611f-40e0-b9d6-fdc30ae0d080"
                  },
                  "type": "If"
                },
                "Listando_Moedas": {
                  "runAfter": {
                    "Aplicar_a_cada": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "06f66afd-cba4-4fd9-abef-0a233c33b658"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "crb76_moedases"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Filtrando_Moeda": {
                  "runAfter": {
                    "Listando_Moedas": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0eabc1f5-6fac-4fef-9629-55af03481729"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('Listando_Moedas')?['body/value']",
                    "where": "@equals(item()?['crb76_nomedamoeda'], 'Real Brasileiro')"
                  }
                },
                "JSON_Moeda": {
                  "runAfter": {
                    "Filtrando_Moeda": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1407b1d1-8fc1-4772-b110-3279a7545166"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Filtrando_Moeda')",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "crb76_moedasid": {
                            "type": "string"
                          },
                          "crb76_nomedamoeda": {
                            "type": "string"
                          },
                          "crb76_simbolo": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "crb76_moedasid",
                          "crb76_nomedamoeda",
                          "crb76_simbolo"
                        ]
                      }
                    }
                  }
                },
                "Aplicar_a_cada_4": {
                  "foreach": "@body('JSON_Moeda')",
                  "actions": {
                    "Obtendo_Moeda": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "a448f302-1d2c-4066-92bd-1a0f49923db7"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "crb76_moedases",
                          "recordId": "@items('Aplicar_a_cada_4')['crb76_moedasid']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Moeda": {
                      "runAfter": {
                        "Obtendo_Moeda": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "bfc8d0d8-7c8a-417a-8b07-d05369464e9a"
                      },
                      "type": "Compose",
                      "inputs": "@outputs('Obtendo_Moeda')?['body/@odata.id']"
                    },
                    "Atualizar_uma_linha_4": {
                      "runAfter": {
                        "Moeda": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ed57e28d-656a-40dd-bb0a-d8ad171591c5"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "lt_registroparafechamentos",
                          "recordId": "@outputs('Criando_Venda')?['body/lt_registroparafechamentoid']",
                          "item/lt_moedas@odata.bind": "@outputs('Moeda')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "JSON_Moeda": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e4b00ea9-125c-41ae-abaa-7d87de4f237f"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Preço_do_Produto": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@length(body('Matriz_do_filtro'))",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "0e75ee0f-786c-4382-b872-1ee2f403ddc5"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Créditos_Por_Experiência_Máquina": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "ObtendoLoja1": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "1a19e343-b793-4f2f-859d-615e7c55a76e"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cre0a_lojas",
                    "recordId": "@outputs('Obtendo_Recolhimento')?['body/_lt_loja_value']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Loja1": {
                "runAfter": {
                  "ObtendoLoja1": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "31a560a2-712b-4ae1-9ca3-22a2a00f6775"
                },
                "type": "Compose",
                "inputs": "@outputs('ObtendoLoja1')?['body/@odata.id']"
              },
              "ProdutoMáquina": {
                "runAfter": {
                  "Loja1": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "2dcc8f72-84f0-4498-b3bb-66b884275a78"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "crb76_produtos",
                    "recordId": "@outputs('Obtendo_Máquina')?['body/_lt_produto_value']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Produto1": {
                "runAfter": {
                  "ProdutoMáquina": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "75ec2408-d87f-49c7-bac0-d6da4d6239d3"
                },
                "type": "Compose",
                "inputs": "@outputs('ProdutoMáquina')?['body/@odata.id']"
              },
              "ListPreços": {
                "runAfter": {
                  "Produto1": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "e849d111-3f96-4c23-8d00-627317a2ddc1"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "crb76_precos"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Filter_array": {
                "runAfter": {
                  "ListPreços": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "670557ae-07d3-446b-a411-763fb361a68c"
                },
                "type": "Query",
                "inputs": {
                  "from": "@outputs('ListPreços')?['body/value']",
                  "where": "@and(\n    equals(item()?['_crb76_produto_value'], outputs('ProdutoMáquina')?['body/crb76_produtoid']),\n    greaterOrEquals(outputs('Obtendo_Recolhimento')?['body/lt_data'], item()?['crb76_datainicio']),\n    lessOrEquals(\n        outputs('Obtendo_Recolhimento')?['body/lt_data'],\n        if(empty(item()?['lt_datafim']), utcNow(), item()?['lt_datafim'])\n    ),\n    equals(item()?['_lt_loja_value'], outputs('ObtendoLoja1')?['body/cre0a_lojaid']),\n    not(equals(item()?['crb76_preco'], 0))\n)\n"
                }
              },
              "Parse_JSON": {
                "runAfter": {
                  "Filter_array": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "488ed03a-ffcd-40de-80e8-8b6caa127a3c"
                },
                "type": "ParseJson",
                "inputs": {
                  "content": "@body('Filter_array')",
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "crb76_preco": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "crb76_preco"
                      ]
                    }
                  }
                }
              },
              "PreçoProduto": {
                "runAfter": {
                  "Parse_JSON": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "0fd4b046-7743-4d03-bf76-c1730ae35ee0"
                },
                "type": "Compose",
                "inputs": "@body('Parse_JSON')[0]['crb76_preco']"
              },
              "Condition": {
                "actions": {
                  "CriandoVenda1": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "a5e113b7-60cd-4fa5-9454-8d603a441e31"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "lt_registroparafechamentos",
                        "item/lt_criacaovendadevido": 124400000,
                        "item/crb76_dataentrada": "@outputs('Data_Recolhimento')",
                        "item/crb76_dataentregaouprevisao": "@outputs('Data_Recolhimento')",
                        "item/crb76_entregaprodutosefetuada": true,
                        "item/lt_loja@odata.bind": "@outputs('Loja1')",
                        "item/lt_maquina@odata.bind": "@outputs('Máquina')",
                        "item/crb76_modalidadetransporte": 452870001,
                        "item/lt_outrosvaloresvendas": 0,
                        "item/lt_valor": "@outputs('ValorTotalConferido')",
                        "item/crb76_valorfrete": 0,
                        "item/lt_valorrecebido": "@outputs('ValorTotalConferido')",
                        "item/lt_valortotalfinanciado": 0
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "ListandoClientes1": {
                    "runAfter": {
                      "CriandoVenda1": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "025020af-3669-488a-906d-1f6f7d5dec2a"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "crb76_clientes"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Filter_array_2": {
                    "runAfter": {
                      "ListandoClientes1": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ba495fa1-f060-4060-85ef-398b75cb6361"
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@outputs('ListandoClientes1')?['body/value']",
                      "where": "@equals(item()?['lt_numerocliente'], 'CLIENTE-00001001')"
                    }
                  },
                  "Parse_JSON_2": {
                    "runAfter": {
                      "Filter_array_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c295fcf9-59d9-4ebb-9ea0-7fe62876551d"
                    },
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@body('Filter_array_2')",
                      "schema": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "lt_nomecliente": {
                              "type": "string"
                            },
                            "crb76_clienteid": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "lt_nomecliente",
                            "crb76_clienteid"
                          ]
                        }
                      }
                    }
                  },
                  "Apply_to_each": {
                    "foreach": "@body('Parse_JSON_2')",
                    "actions": {
                      "Get_a_row_by_ID": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "4c9f5269-0d89-45b7-bfe2-34a5314819f1"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "crb76_clientes",
                            "recordId": "@items('Apply_to_each')['crb76_clienteid']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Update_a_row": {
                        "runAfter": {
                          "Get_a_row_by_ID": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "7775a892-bc51-4e2a-83df-8e342f81afd9"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "lt_registroparafechamentos",
                            "recordId": "@outputs('CriandoVenda1')?['body/lt_registroparafechamentoid']",
                            "item/lt_Cliente@odata.bind": "@outputs('Get_a_row_by_ID')?['body/@odata.id']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "Parse_JSON_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "88e2b85e-d7b7-449d-a729-f6f2e8e40f8b"
                    },
                    "type": "Foreach"
                  },
                  "MeioPagamentoRecebimento": {
                    "runAfter": {
                      "Apply_to_each": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6b130069-e6ba-4415-97f2-9188e4c21726"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "crb76_meiopagamentorecebimentos"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Filter_array_3": {
                    "runAfter": {
                      "MeioPagamentoRecebimento": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "84469456-4943-44c0-a67f-debf7a7aa28e"
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@outputs('MeioPagamentoRecebimento')?['body/value']",
                      "where": "@equals(item()?['crb76_nomemeiopagamentorecebimento'], '1x - Dinheiro')"
                    }
                  },
                  "Parse_JSON_3": {
                    "runAfter": {
                      "Filter_array_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "91d773f9-4e09-4651-b65c-c963ccb370d8"
                    },
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@body('Filter_array_3')",
                      "schema": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "crb76_nomemeiopagamentorecebimento": {
                              "type": "string"
                            },
                            "crb76_meiopagamentorecebimentoid": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "crb76_nomemeiopagamentorecebimento",
                            "crb76_meiopagamentorecebimentoid"
                          ]
                        }
                      }
                    }
                  },
                  "Apply_to_each_2": {
                    "foreach": "@body('Parse_JSON_3')",
                    "actions": {
                      "Get_a_row_by_ID_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "e2857508-36a4-4589-b6d0-b8a051a785bc"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "crb76_meiopagamentorecebimentos",
                            "recordId": "@items('Apply_to_each_2')['crb76_meiopagamentorecebimentoid']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Update_a_row_2": {
                        "runAfter": {
                          "Get_a_row_by_ID_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "2a09b6a1-3d1f-49d3-b702-5262ad467c23"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "lt_registroparafechamentos",
                            "recordId": "@outputs('CriandoVenda1')?['body/lt_registroparafechamentoid']",
                            "item/crb76_MeioRecebimento@odata.bind": "@outputs('Get_a_row_by_ID_2')?['body/@odata.id']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "Parse_JSON_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c96daa4c-2b01-4cee-b47f-0963ce6bc6fa"
                    },
                    "type": "Foreach"
                  },
                  "List_rows": {
                    "runAfter": {
                      "Apply_to_each_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c4955117-f69b-4eb2-a230-b9e8b6246fa4"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "businessunits"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Filter_array_4": {
                    "runAfter": {
                      "List_rows": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "cf8c2d56-9669-41d7-995b-87b34cf7aa23"
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@outputs('List_rows')?['body/value']",
                      "where": "@equals(item()?['_lt_lojarelacionada_value'], outputs('ObtendoLoja1')?['body/cre0a_lojaid'])"
                    }
                  },
                  "Parse_JSON_4": {
                    "runAfter": {
                      "Filter_array_4": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "7efa8406-1724-4a82-a340-de031ac91a16"
                    },
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@body('Filter_array_4')",
                      "schema": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "businessunitid": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "businessunitid",
                            "name"
                          ]
                        }
                      }
                    }
                  },
                  "List_rows_2": {
                    "runAfter": {
                      "Apply_to_each_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3325380d-ce66-499b-bcbd-013bb59344c6"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "crb76_moedases"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Filter_array_5": {
                    "runAfter": {
                      "List_rows_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "d1de1de1-52a9-4ccf-a923-861f3a28c7a3"
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@outputs('List_rows_2')?['body/value']",
                      "where": "@equals(item()?['crb76_nomedamoeda'], 'Real Brasileiro')"
                    }
                  },
                  "Parse_JSON_5": {
                    "runAfter": {
                      "Filter_array_5": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ca87679e-40e6-4773-b896-594b4ea91447"
                    },
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@body('Filter_array_5')",
                      "schema": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "crb76_moedasid": {
                              "type": "string"
                            },
                            "crb76_nomedamoeda": {
                              "type": "string"
                            },
                            "crb76_simbolo": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "crb76_moedasid",
                            "crb76_nomedamoeda",
                            "crb76_simbolo"
                          ]
                        }
                      }
                    }
                  },
                  "Apply_to_each_3": {
                    "foreach": "@body('Parse_JSON_4')",
                    "actions": {
                      "Get_a_row_by_ID_3": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "219221ad-c2aa-4522-9ae8-e43d133261b1"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "businessunits",
                            "recordId": "@items('Apply_to_each_3')['businessunitid']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Update_a_row_3": {
                        "runAfter": {
                          "Get_a_row_by_ID_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "0e8f8be0-89bd-425a-9b10-a5b54fa08962"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "lt_registroparafechamentos",
                            "recordId": "@outputs('CriandoVenda1')?['body/lt_registroparafechamentoid']",
                            "item/crb76_UnidadedeNegocioVendedora@odata.bind": "@outputs('Get_a_row_by_ID_3')?['body/@odata.id']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "Parse_JSON_4": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3e092c3d-f4f4-4df1-b581-a0adc8378a3f"
                    },
                    "type": "Foreach"
                  },
                  "Apply_to_each_4": {
                    "foreach": "@body('Parse_JSON_5')",
                    "actions": {
                      "Get_a_row_by_ID_4": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "cb4b4c0a-2c8c-439a-826d-e5ce2518b812"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "crb76_moedases",
                            "recordId": "@items('Apply_to_each_4')['crb76_moedasid']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Update_a_row_4": {
                        "runAfter": {
                          "Get_a_row_by_ID_4": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "9962314c-c93a-49ba-af23-daa64c3bca99"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "lt_registroparafechamentos",
                            "recordId": "@outputs('CriandoVenda1')?['body/lt_registroparafechamentoid']",
                            "item/lt_moedas@odata.bind": "@outputs('Get_a_row_by_ID_4')?['body/@odata.id']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "Parse_JSON_5": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "72256f15-60ed-49a7-97a4-6585540377c2"
                    },
                    "type": "Foreach"
                  },
                  "List_rows_3": {
                    "runAfter": {
                      "Apply_to_each_4": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3846594f-0fb5-49f0-9640-f55e834e34bf"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "lt_recolhimentos"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Filter_array_6": {
                    "runAfter": {
                      "List_rows_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "76110b75-80ca-4db5-99f9-e50fd8b4b390"
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@outputs('List_rows_3')?['body/value']",
                      "where": "@and(\n    equals(item()?['_lt_loja_value'], outputs('ObtendoLoja1')?['body/cre0a_lojaid']),\n    equals(item()?['_lt_maquina_value'], outputs('Obtendo_Máquina')?['body/cre0a_maquinaid']),\n    not(equals(item()?['lt_recolhimentoid'], triggerOutputs()?['body/_lt_recolhimento1_value']))\n)\n"
                    }
                  },
                  "Condition_2": {
                    "actions": {
                      "Quant": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "e25ccc01-4797-44b7-9fb6-1a33659de3dc"
                        },
                        "type": "Compose",
                        "inputs": "@outputs('Créditos_Por_Experiência_Máquina')"
                      },
                      "PreçoUnitMédio": {
                        "runAfter": {
                          "Quant": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "8e0d9e32-6c9f-49dd-b51a-6ffdcc978e12"
                        },
                        "type": "Compose",
                        "inputs": "@if(or(equals(coalesce(outputs('Quant'), 0), 0), equals(outputs('Quant'), null)), 0, div(outputs('ValorTotalConferido'), outputs('Quant')))"
                      },
                      "ValorTVenda": {
                        "runAfter": {
                          "PreçoUnitMédio": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "db865465-b886-4b15-854d-71151510c19f"
                        },
                        "type": "Compose",
                        "inputs": "@if(or(equals(coalesce(outputs('Quant'), 0), 0), equals(outputs('Quant'), null)), 0, mul(outputs('PreçoProduto'), outputs('Quant')))"
                      },
                      "ValorDescVenda": {
                        "runAfter": {
                          "Get_a_row_by_ID_5": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "6b675545-f8e3-4d83-819b-f3355beba426"
                        },
                        "type": "Compose",
                        "inputs": "@sub(outputs('ValorTotalConferido'), outputs('ValorTVenda'))"
                      },
                      "Get_a_row_by_ID_7": {
                        "runAfter": {
                          "ValorDescVenda": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "8cabfa17-932e-4ca2-8ba1-0c48434e2c63"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "crb76_moedases",
                            "recordId": "@outputs('Get_a_row_by_ID_5')?['body/_lt_moedas_value']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Get_a_row_by_ID_5": {
                        "runAfter": {
                          "ValorTVenda": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "3030e9f2-5f19-47df-838c-0a9857a21581"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "lt_registroparafechamentos",
                            "recordId": "@outputs('CriandoVenda1')?['body/lt_registroparafechamentoid']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Add_a_new_row_2": {
                        "runAfter": {
                          "Get_a_row_by_ID_7": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "b50ad9b4-8e0a-48eb-b4eb-d85bf760f3f1"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "crb76_produtovendidos",
                            "item/lt_criacaovendadevido1": 124400000,
                            "item/crb76_Produto@odata.bind": "@outputs('Produto1')",
                            "item/crb76_quantidade": "@outputs('Quant')",
                            "item/lt_vendaId@odata.bind": "@outputs('CriandoVenda1')?['body/@odata.id']",
                            "item/lt_loja@odata.bind": "@outputs('Loja1')",
                            "item/lt_moedas@odata.bind": "@outputs('Get_a_row_by_ID_7')?['body/@odata.id']",
                            "item/lt_precounitario": "@outputs('PreçoProduto')",
                            "item/lt_precomedio": "@outputs('PreçoUnitMédio')",
                            "item/lt_valordesconto": 0,
                            "item/lt_valortotalvendaprodutovendido": "@outputs('ValorTVenda')",
                            "item/lt_valorvenda": "@outputs('ValorTotalConferido')"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Update_a_row_6": {
                        "runAfter": {
                          "Add_a_new_row_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "385704dc-7eaf-4290-baa7-3bc776dcf1f5"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "lt_registroparafechamentos",
                            "recordId": "@outputs('CriandoVenda1')?['body/lt_registroparafechamentoid']",
                            "item/lt_valordescontoof": "@outputs('ValorDescVenda')",
                            "item/lt_valortotaldavenda": "@outputs('ValorTVenda')"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "Filter_array_6": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "QuantidadeInicial": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "8c6b4eec-ada6-4971-89d8-9ed3f8e919f4"
                          },
                          "type": "Compose",
                          "inputs": "@outputs('Créditos_Por_Experiência_Máquina')"
                        },
                        "ValorTotalDaVenda3": {
                          "runAfter": {
                            "QuantidadeInicial": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "cebb9b04-a012-4725-8849-8570d458a8d8"
                          },
                          "type": "Compose",
                          "inputs": "@mul(outputs('PreçoProduto'), outputs('QuantidadeInicial'))"
                        },
                        "PreçoUnitárioMédio3": {
                          "runAfter": {
                            "ValorTotalDaVenda3": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "e0f428ea-ff81-412d-b200-b199f6bd1d08"
                          },
                          "type": "Compose",
                          "inputs": "@div(outputs('ValorTotalConferido'), outputs('QuantidadeInicial'))"
                        },
                        "ValorDesconto": {
                          "runAfter": {
                            "ObtVendaAtt": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "46be4747-fb9f-420e-8977-d67713aecc9a"
                          },
                          "type": "Compose",
                          "inputs": "@sub(outputs('ValorTotalConferido'), outputs('ValorTotalDaVenda3'))"
                        },
                        "ObtVendaAtt": {
                          "runAfter": {
                            "PreçoUnitárioMédio3": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "e35d0195-5113-4a1e-95f2-d42ada15a218"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "lt_registroparafechamentos",
                              "recordId": "@outputs('CriandoVenda1')?['body/lt_registroparafechamentoid']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Get_a_row_by_ID_6": {
                          "runAfter": {
                            "ValorDesconto": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "ce1c8203-e1d4-41ac-8a1f-d7e163885ac3"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "crb76_moedases",
                              "recordId": "@outputs('ObtVendaAtt')?['body/_lt_moedas_value']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Add_a_new_row": {
                          "runAfter": {
                            "Get_a_row_by_ID_6": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "06e67927-e6c2-4db1-b107-e11ac297c4a4"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "crb76_produtovendidos",
                              "item/lt_criacaovendadevido1": 124400000,
                              "item/crb76_Produto@odata.bind": "@outputs('Produto1')",
                              "item/crb76_quantidade": "@outputs('QuantidadeInicial')",
                              "item/lt_vendaId@odata.bind": "@outputs('CriandoVenda1')?['body/@odata.id']",
                              "item/lt_loja@odata.bind": "@outputs('ObtendoLoja1')?['body/@odata.id']",
                              "item/lt_moedas@odata.bind": "@outputs('Get_a_row_by_ID_6')?['body/@odata.id']",
                              "item/lt_precounitario": "@outputs('PreçoProduto')",
                              "item/lt_precomedio": "@outputs('PreçoUnitárioMédio3')",
                              "item/lt_valordesconto": 0,
                              "item/lt_valortotalvendaprodutovendido": "@outputs('ValorTotalDaVenda3')",
                              "item/lt_valorvenda": "@outputs('ValorTotalConferido')"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Update_a_row_5": {
                          "runAfter": {
                            "Add_a_new_row": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "abf265c9-6b25-48e7-8d1b-99693ef6f94d"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "lt_registroparafechamentos",
                              "recordId": "@outputs('CriandoVenda1')?['body/lt_registroparafechamentoid']",
                              "item/lt_valordescontoof": "@outputs('ValorDesconto')",
                              "item/lt_valortotaldavenda": "@outputs('ValorTotalDaVenda3')"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "expression": {
                      "greater": [
                        "@length(body('Filter_array_6'))",
                        0
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a98baad5-da13-49a3-a9df-071f7724167c"
                    },
                    "type": "If"
                  }
                },
                "runAfter": {
                  "PreçoProduto": [
                    "Succeeded"
                  ]
                },
                "expression": {
                  "equals": [
                    "@length(body('Filter_array'))",
                    1
                  ]
                },
                "metadata": {
                  "operationMetadataId": "ee5e348f-9245-4646-bb2b-a90eef2cc698"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@outputs('Obtendo_Máquina')?['body/lt_possuiauditoria']",
                    "Não"
                  ]
                }
              },
              {
                "not": {
                  "equals": [
                    "@outputs('Obtendo_Recolhimento')?['body/_lt_auditoria_value']",
                    "@null"
                  ]
                }
              },
              {
                "or": [
                  {
                    "not": {
                      "equals": [
                        "@outputs('Obtendo_Máquina')?['body/lt_tipoauditoria']",
                        "Digital (Entrada Sistemas)"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@outputs('Obtendo_Máquina')?['body/lt_tipoauditoria']",
                        "Analógica (Por Cálculo)"
                      ]
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "cb8111ea-6b7c-4993-9aa8-9e148d8f19d4"
          },
          "type": "If"
        },
        "Data_Recolhimento": {
          "runAfter": {
            "ID_Recolhimento": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c58ea747-d0b6-46ed-ad8e-75e286a8689b"
          },
          "type": "Compose",
          "inputs": "@outputs('Obtendo_Recolhimento')?['body/lt_data']"
        },
        "Créditos_Por_Experiência_Máquina": {
          "runAfter": {
            "Máquina": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3727a47d-b8b4-4494-a3ad-fcde6f1b3a7d"
          },
          "type": "Compose",
          "inputs": "@outputs('Obtendo_Máquina')?['body/lt_creditosporexperiencia']"
        },
        "Atualizando_Recolhimento": {
          "runAfter": {
            "Data_Recolhimento": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e01d5db-745e-41db-bbcd-8fcc1e8c4de8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "lt_recolhimentos",
              "recordId": "@outputs('Obtendo_Recolhimento')?['body/lt_recolhimentoid']",
              "item/lt_recolhimentoligadaconferencianumerario": true
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}